@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: 'Lato', sans-serif !important;
    /*font-family: myFont !important;*/
    overflow-x: clip;
    line-height: inherit !important;
}


/*
@font-face{
    font-family: myFont;
    src:url('/public/frontend/assets/fonts/CerebriSansPro-ExtraLight.ttf');
}

@font-face{
    font-family: myFontBold;
    src:url('/public/frontend/assets/fonts/CerebriSansPro-Bold.ttf');
}

@font-face{
    font-family: myFontHeading;
    src:url('/public/frontend/assets/fonts/CerebriSansPro-Bold.ttf');
}

@font-face{
    font-family: myFontTeav;
    src:url('/public/frontend/assets/fonts/CerebriSansPro-Medium.ttf');
}

@font-face{
    font-family: myFontSemiBold;
    src:url('/public/frontend/assets/fonts/CerebriSansPro-SemiBold.ttf');
}

.PricingCardBoxheader h2{
    font-family: myFontHeading !important;
}
 


 .saaAllRepla{
    font-family: myFontHeading;
 }

p{
  font-family: myFont !important;
    font-weight: 600 !important;
}
*/

a {
    text-decoration: none;
}

input:focus,
button:focus,
button:focus:not(:focus-visible) {
    outline: none !important;
    box-shadow: none !important;
    /*border: none;*/
}

.CustomeNavbar {
    margin-bottom: 0;
    padding: 24px 0;
}

.navbar-brand-logo {
    padding: 0;
}

.navbar-brand-logo img {
    /*width: auto;
    height: 60px;
    margin-top: 17px;*/
    width: auto;
    height: 68px;
    margin-top: 10px;
}

.leErrise {
    margin-left: 0px !important;
}


/*tODAY bIKASH cSS uPDATE*/

.buygrens {
    color: #27ad7a !important;
    background: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.bgSeNone {
    background: none !important;
    color: #342d2d !important;
    font-size: 12px !important;
    margin-left: 0px !important;
    padding-left: 3px !important;
}


/*tODAY bIKASH cSS uPDATE*/


/*report details page css */

.mainLine {
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 13px !important;
    margin-bottom: 22px !important;
}

.hrLinesf {
    border-bottom: 2px solid #403b3b;
    padding: 0px 0px 13px !important;
    margin-bottom: 22px !important;
    width: 241px;
}

.h4Css {
    font-size: 32px;
    font-weight: 600;
}

.h5Css {
    font-size: 23px;
    margin-top: 13px;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 20px;
}

.pCss {
    font-size: 19px;
    line-height: initial;
    margin-top: 14px;
    margin-bottom: 9px;
    text-align: justify;
}

.pedding_green {
    padding: 12px 15px;
    border-radius: 2px;
    color: #fff;
    box-shadow: none;
    background: linear-gradient(109deg, rgba(25, 173, 146, 1) 0%, #17c79b 70%);
}

.styVboxshdow {
    box-shadow: 0 1px 6px rgb(61 65 84 / 15%) !important;
    padding: 20px;
    border-radius: 5px;
    margin-top: 11px;
}

.team-view-date {
    font-size: 12px;
    line-height: normal;
    /*font-family: 'Open-Bold-Sans', sans-serif;*/
    margin-bottom: 13px;
    display: inline-block;
    text-transform: uppercase;
    padding: 7px;
    /*box-shadow: 0 0 14px 0px #4eaf8a75;*/
}

.team-view-date i {
    font-size: 14px;
    margin-right: 5px;
}

.team-view-date>span {
    /*background-color: #ebebeb;
    color: #00a586;
    width: 15%;
    display: inline;
    padding: 1px 10px;
    margin-left: 10px;
    font-size: 15px;*/
    background-color: #ebebeb;
    color: #00a586;
    width: 15%;
    display: inline;
    padding: 1px 8px;
    margin-left: 8px;
    font-size: 12px;
}

.boldss {
    font-weight: bold;
    color: #000;
}

.pDisc {
    font-size: 17px;
    line-height: initial;
    margin-top: 14px;
    margin-bottom: 9px;
    text-align: justify;
}

.h5StyCss {
    font-size: 24px;
    color: #000;
    margin-top: 15px;
    margin-bottom: 11px;
    border-bottom: 2px solid;
    padding-bottom: 11px;
}


/*report details page css */

.firstHead {
    width: 100%;
    justify-content: space-between;
}

.SocialIcon ul {
    display: block;
    margin: 0;
}

.SocialIcon ul li {
    display: inline-block;
}

.SocialIcon ul li a {
    /*color:#0b2653;
    display:block;
    margin-left:15px;
    font-size:14px;*/
    color: #0b2653;
    display: block;
    margin-left: 8px;
    font-size: 18px;
}

.MyManu .offcanvas-body .navbar-nav {
    align-items: baseline;
    padding: 0;
}

.MyManu .offcanvas-body .nav-item a {
    /* padding: 0 11px;
    font-weight: 600;
    color: #000000;*/
    /*    padding: 13px 21px 0px 12px;
    font-weight: 600;
    color: #000000;*/
    padding: 0px 0 0 26px;
    font-weight: 600;
    color: #000000;
}

.MyManu .offcanvas-body .nav-item.dropdown .dropdown-menu li a {
    padding: 10px !important;
}

.MyManu .offcanvas-body .dropdown .dropdown-toggle.active {
    color: #4EAF8A;
    position: relative;
}

.MyManu .offcanvas-body .dropdown .dropdown-toggle.active::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 90%;
    background: #4EAF8A;
    bottom: 0;
}

.MyManu .offcanvas-body {
    position: relative;
}

.navbar-toggler {
    border: none;
}

.LangDD {
    /*height: 40px;
    background-color: #d9d9d9;
    padding: 7px;
    margin-right: 40px;
    border-radius: 4px;*/
    height: 40px;
    padding: 0px;
    right: -20px;
    margin-top: 5px;
}

height: 40px;
padding: 0px;

/* margin-right: 40px; */

right: -34px !important;
margin-top: 4px;
.LangDD .dropdown-toggle {
    color: #000;
}

.LangDD .dropdown-toggle img {
    /*width: 45px;
    margin-right: 5px;
    border-radius: 3px;
    height: auto;*/
    /* width: 40px;
    margin-right: 21px;
    border-radius: 3px;
    height: auto;
    margin-left: 13px;*/
    width: 40px;
    border-radius: 3px;
    height: auto;
}

.firstHeadTop {
    /*display: flex;
    justify-content: end;
    padding:15px 0;*/
    /*display: flex;
    justify-content: end;
    padding: 15px 0px;*/
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.searchBox {
    display: flex;
    border: 2px solid #858585;
    padding: 0px 0px 0px 10px;
    height: 40px;
    width: 445px;
}

.searchBox input {
    border: none;
    border-radius: 0;
    padding: 5px 0;
}

.SearchGrourp {
    display: none;
}

.User .userBtn {
    /*border-radius: 4px;
    background: #4EAF8A;
    padding: 0 20px;
    height: 40px;
    color: #fff;
    margin: 0px 15px 0px 30px;*/
    /*   border-radius: 4px;
    background: #4EAF8A;
    padding: 0 20px;
    height: 40px;
    color: #fff;
    margin: 0px 25px 0px 30px;*/
    border-radius: 4px;
    background: #4EAF8A;
    padding: 0 20px;
    height: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0px 0px 15px;
}


/*First section*/

.FirstFace_Sec {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.FirstFace_Sec02 {
    text-align: center;
    height: 370px;
    padding: 100px 0;
    /*    background-color: #00000096;*/
    background-color: #081b34c2;
}

.bolsSbfr {
    font-weight: 500 !important;
    font-family: system-ui;
    font-size: 31px;
}

.FirstFace_Sec h1 {
    /*color: #fff;
    font-size: 40px;
    margin:0 0 40px 0;*/
    color: #fff;
    font-size: 25px;
    margin: 0px 0px 57px 0px;
}

.FirstFace_Sec h1 strong {
    font-weight: 700;
}

.GetStarted,
.ReadMore {
    /* background-color: #4EAF8A;
    color: #fff;
    height: auto;
    font-size: 28px;
    font-weight: 300;
    margin-right: 20px;
    border: 2px solid #4EAF8A;
    padding: 7px 30px;
    border-radius: 30px;
    text-shadow: 1px 1px 1px #00000061;*/
    background-color: #378B6B;
    color: #fff;
    /*font-weight: 800;*/
    height: auto;
    font-size: 17px;
    /*font-family: sans-serif;*/
    margin-right: 8px;
    border: 2px solid #378B6B;
    padding: 12px 30px;
    border-radius: 8px;
}

.ReadMore {
    background-color: #FFF;
    border-radius: 8px;
    color: #4EAF8A;
    border-color: #fff;
    text-shadow: none;
    /*font-family: sans-serif;*/
}

.BoxSercsh {
    width: 468px !important;
}

.btnSrach {
    width: 100px;
    border: 1px solid #2a6252;
    background: #2a6252;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
}

.rrInputr {
    border: 1px solid #23ab66;
    border-right: none;
    padding: 1px 10px;
    border-radius: 3px 0 0 3px;
}

.fontPastRec {
    /*font-weight: 800 !important;*/
    font-size: 24px !important;
    color: #000000 !important;
    font-weight: 700;
}

.radiusTbaleBox {}

.slick-slider {
    margin-bottom: 0px !important;
}

.ExploresecEso {
    color: #000;
    height: auto;
    width: auto;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 7px;
}

.ExploreBlue {
    /*background: #0B225B;
    color: #fff;
    height: auto;
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    float: right;
    font-weight: 800;
    border-radius: 12px;*/
    color: #000000d1;
    height: auto;
    width: auto;
    margin-right: 22px;
    font-size: 17px;
    float: right;
    font-weight: 600;
    padding-bottom: 7px;
    /*font-family: myFontHeading;*/
}

.FirstFace_SecSub {
    background-color: #e7e7e7f2;
    padding: 31px 37px 0px 37px;
    position: relative;
    top: -98px;
    border-radius: 11px;
    height: 313px;
}

.blueChips {
    font-size: 24px !important;
}

.slick-next:before,
.slick-prev:before {
    font-size: 35px !important;
    color: #000 !important;
}

.slick-next,
.slick-prev {
    top: 46% !important;
    width: 26px !important;
    height: 20px !important;
}

.Daily_A h2 {
    color: #000;
    /*font-weight: 900;*/
    margin: 0;
    margin-bottom: 3px;
    font-size: 32px;
    margin-left: 9px;
}

.sliderPasd {
    margin: 6px 7px !important;
}

.rris img {
    height: 233px !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 11px !important;
}

.SlideBox {
    /*margin: 15px;
    position: relative;*/
    margin: 6px 16px;
    position: relative;
}

.SlideBox:hover .SlideBoxCnt {
    background-color: #fff;
}

.marginvoothn {
    padding-bottom: 35px !important;
}

.SlideBox img {
    /*height: auto;
    width: 100%;*/
    /*  height: 228px;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;*/
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.topeQls {
    /*margin-top: -38px;*/
    margin-top: 0px;
}

.SlideBoxCnt {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: #fffffff2;
    padding: 16px;
    flex-flow: column;
    margin: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.SlideBoxCnt small,
.SlideBoxCnt a {
    display: block;
    font-size: 14px;
    color: #000000e0;
    font-weight: 700;
}

.specialRedmo {
    font-size: 12px !important;
    margin-top: 7px;
    color: #000;
    font-weight: 900;
}

.padssT__css {
    padding: 0px 14px 20px !important;
}

a.knw__gs:hover {
    color: #53ab8d !important;
}

.indResd {
    font-size: 12px !important;
}

.indxTexm {
    font-size: 12px !important;
    margin-bottom: 5px;
    /*font-weight: 900 !important;*/
    /*font-family: myFontHeading;*/
}

.carsoTxt {
    font-size: 14px !important;
    /*font-family: sans-serif;*/
}

.SlideBoxCnt p {
    padding: 5px 0;
}

.VeyeOffers {
    padding-right: 30px;
    margin-bottom: 80px;
}

.SubscribeTo {
    /*text-transform: uppercase;
    background: #fff;
    padding: 20px;
    text-align: center;*/
    text-transform: uppercase;
    background: #fff;
    padding: 21px 16px 1px 18px;
    text-align: center;
    border-radius: 11px;
    height: 100%;
}

.SubscribeTo img {
    width: 100%;
}

.SubscribeTo h5 {
    /*font-size: 28px;
    font-weight: 800;
    line-height: 50px;*/
    /*   font-size: 20px;
    font-weight: 800;
    line-height: 21px;*/
    font-size: 25px;
    font-weight: 800;
    /*font-family: myFontHeading;*/
}

.SubscribeTo .PriceTag {
    background-color: #f00;
    font-style: italic;
    color: #fff;
    width: 200px;
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    font-weight: 900;
}

.sampleReportBtn.SubscribeBtn {
    background-color: #f00;
    margin: 20px auto;
}

.VeyeOffers h3,
.recomdedTable h3 {
    /*font-size: 32px;
    font-weight: 800;
    margin: 0 0 15px 0;
    color: #4EAF8A;*/
    /* font-size: 32px;
    font-weight: 800;
    margin: 0 0 12px 0;
    color: #4EAF8A;*/
    /*font-size: 31px;
    margin: 0 0 19px 0;
    color: #4EAF8A;
    font-weight: 700;*/
    font-size: 24px;
    margin: 0 0 19px 0;
    color: #000000;
    /*font-weight: 900;*/
}

.vase__offers {
    line-height: 38px;
    text-transform: capitalize;
    font-family: sans-serif;
}

.VeyeOffers p,
.AboutUstLeft p {
    /*font-size: 26px;
    line-height: 40px;
    margin-bottom: 30px;
    color: #000;*/
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 64px;
    color: #000;
    text-align: left;
    font-family: sans-serif;
}

.StockAdviSlide p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
    color: #000;
}

.recomdedTable table tr th,
.recomdedTable table tr td {
    padding: 13px;
    font-weight: 600;
}

.recomdedTable table thead tr {
    background-color: #d1d1d1ed;
    color: #6a6a6a;
}

.recomdedTable table tbody tr {
    /*background-color: #eef4f2;*/
    background-color: #ffffff;
}

.recomdedTable table tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
    ;
}

.recomdedTable table tbody tr td.NumGreen {
    color: #4EAF8A;
}

.recomdedTable table tbody tr td.NumRed {
    color: #f00;
}

.AllExplore {
    position: inherit;
    color: #4EAF8A;
    height: auto;
    width: auto;
    padding: 0;
    font-size: 16px;
    float: right;
    font-weight: 800;
}

.AllExplore svg {
    background-color: transparent;
    color: #4EAF8A;
}

.StockAdvi {
    /*padding-bottom: 50px;*/
    padding-bottom: 84px;
}

.StockAdvi h4,
.sampleReportLeft h4,
.AboutUstLeft h4,
.WhatSay h4,
.RecentPosts h4 {
    /*color: #4EAF8A;
    margin: 0 0 30px 0;
    font-size: 32px;
    font-weight: 800;
    position: relative;*/
    /*color: #4EAF8A;
    margin: 0 0 60px 0;
    font-size: 32px;
    font-weight: 800;
    position: relative;*/
    /*color: #378a6a;
    margin: 0 0 23px 0;
    font-size: 34px;
    font-weight: 900;
    position: relative;*/
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 900;
    position: relative;
}

.resportTyTop {
    margin-top: 0px;
    margin-bottom: 0px;
}

.stock__reds {
    color: #000;
    margin-top: 11px;
}

.cardstcokAvs {
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px #ddd;
}

.stockAdvImg {
    padding: 10px;
    border-radius: 23px !important;
}

.small__titla {
    /*background-color: #c9cecc;*/
    width: 203px;
    padding: 3px 0px;
    /*margin-bottom: 4px;*/
    margin-bottom: 6px;
    color: #030303;
    font-size: 11px;
    border-radius: 5px;
    /*font-family: myFontHeading;*/
    font-family: sans-serif;
}

.stockadvers {
    /* position: absolute; */
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: #ffffffe0;
    padding: 16px;
    flex-flow: column;
    margin: 1px;
    border-radius: 12px;
}


/*.StockAdvi h4::after, .WhatSay h4::after, .sampleReportLeft h4::after, .AboutUstLeft h4::after{
    content: "";
    position:absolute;
    width: 100px;
    height: 4px;
    background-color: #353535;
    bottom: -15px;
    left: 0;
}*/

.Color_prpl {
    color: #717ebd !important;
}

.Color_grn {
    color: #4EAF8A !important;
}

.StockAdviSlide h5 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
}

.StockAdviSlideWht {
    background-color: #fff;
    margin-bottom: 15px;
}

.StockAdviSlide p {
    margin-bottom: 20px;
}

.StockAdviSlideWht small {
    color: #fff;
    background-color: #4EAF8A;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}

.StockAdviSlide {
    margin: 0 15px 75px 15px;
}

.StockAdvi .AllExplore {
    position: absolute;
    right: 15px;
    bottom: 0;
}

.StockAdviSlide .ReadMore,
.CatagoriesBox .ReadMore {
    border-color: transparent;
    color: #4EAF8A;
    border-radius: 3px;
    padding: 0;
    font-weight: 500;
    /*    font-size: 14px;*/
    font-size: 16px;
}

.CatagoriesBox .ReadMore {
    color: #000 !important;
}

.StockAdviSlide img {
    width: 100%;
    border-radius: 0;
    margin: auto;
    display: block;
}

.StockAdvi .slick-prev {
    margin-left: -10px;
}

.StockAdvi .slick-next {
    /*    margin-left: 10px;*/
    margin-left: 35px;
}

.StockAdvi .slick-next:before,
.StockAdvi .slick-prev:before {
    color: #000;
}

.slick-dots {
    display: none !important;
}

.dailyanofnts {
    text-align: center;
    font-size: 24px !important;
    margin-top: 10px !important;
}

.containerwidth {
    max-width: 80%;
}

.StockAdvi .slick-next,
.StockAdvi .slick-prev {
    position: absolute;
    font-size: 0;
    line-height: 0;
    left: 48% !important;
    margin-top: 72px;
    top: 90%;
    /*    left: 50% !important;*/
    /*    right: 97% !important;*/
    width: 20px;
    height: 20px;
    margin-top: -10px\9;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
    border: none;
    outline: 0;
    background: 0 0;
}

.ReportType {
    background-image: url(../images/ReportBG.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 399px;
    padding-right: 109px;
}

.respoRead {
    background: none;
    font-size: 14px;
    border: inherit;
    border-bottom: none;
    font-weight: 900;
    padding: 8px 13px;
    /* border-radius: 8px; */
    border-top: none;
    margin-left: 46px;
    margin-top: 19px;
}

.topbrder {
    border-top: 1px solid;
}

.maxSpecr {
    height: 320px !important;
    box-shadow: 0px 0px 2px 0px #333738;
}

.ReportTypeSlide {
    background-color: #FFFDFD;
    border-radius: 5px;
    padding: 15px 15px 41px;
    /*padding: 6px 5px 0px;*/
    /*margin: 6px 29px 11px 0px;*/
    margin: 6px 16px 11px 0px;
    border-bottom: 6px solid #969696;
    height: 354px;
    /* background-color: #fff;
    border-radius: 5px;
    padding: 20px; 
    margin: 6px 9px 6px 0px; */
}

.lesftNone {
    margin-left: inherit !important;
}

.ReportTypeSlide:hover {
    background-color: rgb(239 255 249);
}

.ReportTypeSlide img {
    width: auto;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 72px;
}

.ReportTypeSlide h5,
.SubText,
.sampleReportLeft p,
.sampleReportBox p,
.AboutUstRight h5 {
    /*font-size: 18px;*/
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    margin: 10px 0 13px 0;
}

.webCardsc {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 0px #ddd;
}

.videoGaTops {
    margin-top: 11px;
    padding: 0px;
    background: #4EAF8A;
}

.regWebsna {
    background: #4EAF8A;
    padding: 3px 19px;
    margin-bottom: 13px;
    color: #fff;
    border-radius: 25px;
}

.fbcolor {
    background-color: #4267b2;
    border: none;
}

.twiftFb {
    background-color: #02abed;
    border: none;
}

.googelCou {
    background-color: #d71010;
    border: none;
}

.instagColor {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border: none;
}

.YouTubCsss {
    background-color: red;
    border: none;
}

.tesCader {
    margin: -3px !important;
    border-radius: inherit !important;
    background: inherit !important;
    color: #414244 !important;
    padding: 3px !important;
}

.indtseVs {
    color: #414244 !important;
}

.btn__smsty {
    max-width: 143px !important;
    height: 38px !important;
}

.msConsyInput {
    border: 1px solid #cdcdcd;
    margin-right: 14px;
}

.usLabe {
    font-weight: 800;
    margin-bottom: 9px;
    margin-top: 19px;
    color: #000;
}

.aboutFonts {
    background: #378B6B;
    color: #fff;
    height: auto;
    width: auto;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
}

.sectorSpeExplo {
    background-color: #0B225B;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    color: #fff;
    width: 157px;
    margin: auto;
    display: block;
}

.cate__explore {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 7px;
}

.ReportTypeSlide p {
    font-size: 14px !important;
    font-weight: 400;
    color: #000;
    padding-right: 0px;
    line-height: 25px;
    text-align: center;
    margin: 13px 0 12px 0;
    font-family: sans-serif;
}

.ReportTypeSlide .ReadMore {
    color: #000000;
    padding: 0;
}

.ReportType .slick-slider {
    margin-bottom: 40px;
}

.ReportType .ReadMore {
    font-size: 18px;
    padding: 5px 20px;
    height: 40px;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
}

.myRow {
    margin-right: 0;
    align-items: start;
    padding: 50px 0;
}

.myRowPosi {
    position: relative;
}

.ReportType .AllExplore {
    position: absolute;
    right: 25px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.ReportType .AllExplore:hover {
    color: #4EAF8A;
}

.ReportType .AllExplore svg {
    width: 25px !important;
    height: 25px;
    border-radius: 100%;
    background-color: #b4b4b4;
    margin-left: 10px;
    color: #fff;
    padding: 6px;
}

.TopASX {
    display: flex;
    /*background-color: #d9d9d9bf;*/
    background: #e7e7e7f2;
    height: 356px;
    width: 287px;
    text-align: center;
    /* display: flex; */
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    /*margin: 22px 15px 15px -25px;*/
    margin: 22px 15px 15px 22px;
    padding: 35px 17px;
    border-radius: 16px;
    box-shadow: 2px 2px 6px 1px #ffffff;
}

.TopASX img {
    width: auto;
    height: 75px;
}

.arre_ost {
    color: #4EAF8A;
}

.exallRespoty {
    color: #3a85b7;
    font-size: 18px;
    float: right;
    font-weight: 400;
}

.TopASX p {
    /* font-size: 37px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 46px;
    text-shadow: 1px 1px 2px #444;
    margin-bottom: 31px;
    margin-top: 14px; */
    font-size: 30px;
    font-weight: 800;
    color: #2f3231;
    line-height: 45px;
    margin-bottom: 31px;
    margin-top: 14px;
}

.ReportType .slick-next,
.ReportType .slick-prev {
    display: none !important;
}

.SlideDotsCustome .slick-dots {
    /*display: block !important;*/
    text-align: left;
    left: 0;
    bottom: -30px;
}

.FirstFace_SecSub.SlideDotsCustome .slick-dots {
    text-align: center;
    display: none !important;
}

.SlideDotsCustome .slick-dots li {
    height: auto;
    margin: 0 !important;
    width: auto;
}

.SlideDotsCustome .slick-dots li button {
    height: auto;
    padding: 0;
    margin: 0 2px;
}

.SlideDotsCustome .slick-dots li:first-child button {
    margin-right: 7px;
}

.SlideDotsCustome .slick-dots li button:before {
    content: "" !important;
    background-color: #555;
    height: 5px;
    width: 20px;
    border-radius: 0px;
    opacity: 1;
}

.SlideDotsCustome .slick-dots li.slick-active button:before {
    background: #000;
}

.SlideDotsCustome .slick-dots li:first-child button:before {
    border-radius: 5px 0px 0px 5px;
    width: 25px;
}

.SlideDotsCustome .slick-dots li:last-child button:before {
    border-radius: 0px 5px 5px 0px;
    width: 25px;
}

.SubText {
    color: #000;
    font-weight: 500;
}

.CatagoriesBox .ReadMore {
    color: #4EAF8A;
}

.CatagoriesBox h5 {
    color: #424242 !important;
    margin-bottom: 30px;
    position: relative;
}

.spciForcImg {
    margin: 0px !important;
}

.CatagoriesBox h5::after {
    width: 58px;
    height: 4px;
    position: absolute;
    content: " ";
    bottom: -17px;
    left: 50%;
    margin-left: -32px;
    background-color: #4EAF8A;
}

.CatagoriesBox {
    text-align: center;
    border: none;
    height: auto !important;
    padding-top: 29px;
}

.sampleReport {
    /*    padding:50px 0 ;*/
    padding: 50px 0;
}

.sampleReportLeft p,
.sampleReportBox p {
    font-weight: 500;
    color: #000;
    line-height: 30px;
}

.sampleReportBox {
    background-image: url(../images/ewfd.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.sampleReportBox p {
    padding: 20px 0 10px 0;
    margin: 0;
}

.sampleReportBox .ReadMore {
    border: none;
    color: #4EAF8A;
    padding: 0;
    height: auto;
    font-size: 18px;
}

.sampleReportBoxCNT {
    background-color: #e7fff6;
    height: 150px;
    width: 380px;
    padding: 15px;
}

.sampleReportBoxCNT p {
    font-size: 24px;
    font-weight: 700;
    color: #4EAF8A;
    margin-bottom: 10px;
}

.sampleReportBoxCNT a {
    color: #545454;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
}

.sampleReporSelect {
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    font-weight: 600;
    border: 2px solid #4EAF8A;
}

.subscrrespot {
    background-color: #ed1c24;
    border-radius: 7px;
    padding: 6px 20px;
    font-size: 20px;
    border: none;
    color: #fff;
    width: 219px;
    margin: 16px 0px 0px 95px;
    display: block;
}

.AboutUsBgCLR {
    background-color: #d9d9d9bf;
    padding: 28px;
    height: 100%;
    /*  box-shadow: 4px 0px 12px 0px #0000002e;*/
    border-radius: 14px;
}

.AboutUsBg {
    /* margin: 50px 0;
    background-image: url(../images/office-work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;*/
    /*background-image: url(../images/office-work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;*/
    /*margin: 0px 0;
    background-image: url(../images/office-work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;*/
    margin: 0px 0;
    background-image: url(../images/office-work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 502px;
    border-radius: 15px;
}

.AboutUstLeft .ReadMore {
    height: 50px;
    padding: 0 30px;
    border-radius: 3px;
}

.AboutUstRight {
    background-color: #fff;
    padding: 30px;
}

.AboutUstRight h5 {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
}

.AboutUstRight form .form-floating input {
    height: 40px;
    border-radius: 3px;
}

.AboutUstRight form .form-floating>label {
    padding: 10px;
    left: 10px;
}


/*.form-control{
    font-weight: 900 !important;
}*/

.input-group .btn {
    font-weight: 700 !important;
}

.form-floating>.form-control:focus~label {
    font-size: 12px;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.videoIcon {
    display: inline-block;
    color: #fff;
    margin-left: 30px;
}

.videoIcon span {
    display: inline-block;
    margin-left: 15px;
}

.button {
    display: inline-block;
    position: relative;
}

.button.is-play {
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 20px 0;
    color: #000000;
}

.button.is-play .button-outer-circle {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.has-scale-animation {
    -webkit-animation: smallScale 3s infinite;
    animation: smallScale 3s infinite;
}

.has-delay-short {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes triangleStroke {
    from {
        stroke-dashoffset: 90;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes triangleStroke {
    from {
        stroke-dashoffset: 90;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes smallScale {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes smallScale {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

.WhatSaySlide {
    /*display: flex;
    align-items: flex-start;
    padding-right: 70px;
    margin-left: 29px;
        margin-top: 28px;*/
    /*display: flex;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background: #f5f5f559;
    padding: 13px;
    border-radius: 6px;*/
    display: flex;
    align-items: flex-start;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 20px;
    /*background: #f5f5f559;*/
    padding: 13px;
    border-radius: 6px;
}

.smaTest {
    font-size: 13px !important;
}

.ourRectTur {
    color: #4EAF8A;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.heigBiTest {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: #ffffffe0;
    padding: 9px;
    flex-flow: column;
    margin: 0px;
    /*font-family: sans-serif;*/
}

.WhatSay h4 span {
    color: #1c1e1d;
}

.WhatSaySlide .CustomerSay {
    width: 120px;
    margin-right: 30px;
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 15px;
}

.WhatSaySlide .CustomerSay img {
    height: auto;
    width: 100%;
}

.WhatSaySlide div h5 {
    font-size: 18px;
    color: #141615;
    font-weight: 700;
}

.WhatSaySlide div span {
    font-size: 12px;
    color: #ccc;
}

.WhatSaySlide div p {
    /*font-size: 16px;
    margin: 15px 0;
    color: #000;
    font-weight: 300;
    line-height: 25px;*/
    font-size: 14px;
    /*margin: 12px 6px 20px;*/
    margin: 4px 8px 38px;
    color: #000;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    font-family: sans-serif;
}

.WhatSaySlide .CustomerData {
    width: 100%;
}

.WhatSaySlide .CustomerData img {
    width: auto;
    height: 35px;
}

.WhatSay .slick-prev {
    /*transform: rotate(135deg);*/
    transform: rotate(3deg);
}

.WhatSay .slick-next {
    /*transform: rotate(-45deg);*/
    transform: rotate(357deg);
}

.WhatSay .slick-next,
.WhatSay .slick-prev {
    /*border: 2px solid #4EAF8A;*/
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.WhatSay .slick-next:before,
.WhatSay .slick-prev:before {
    width: 15px;
    height: 15px;
    /*border: 2px solid #32557f;*/
    border-left: 0;
    border-top: 0;
    font-size: 10px;
}

.sampleReportRight {
    /*display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.sampleReportInBox {
    /*display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4EAF8A;
    border-radius: 50px;
    height: 50px;
    padding: 0px 30px;
    font-size: 20px;
    margin: 0 10px;*/
    /*display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4EAF8A;
    border-radius: 50px;
    height: 56px;
    padding: 0px 23px;
    font-size: 20px;
    margin: 0 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #378B6B;
    border-radius: 50px;
    height: 56px;
    padding: 0px 23px;
    font-weight: 400;
    font-size: 20px;
    margin: 0 10px;
    font-family: sans-serif;
    color: #000;
}

.sampleReportInBox p {
    margin: 0;
}

.sampleReportInBox:hover {
    background-color: #4EAF8A;
}

.sampleReportInBox:hover p {
    color: #fff;
}

.sampleReportInBox:hover img {
    /*filter: brightness(0);*/
    border-radius: 4px;
}

.sampleReportBtn {
    background-color: #4EAF8A;
    border-radius: 50px;
    height: 40px;
    padding: 0px 20px;
    font-size: 18px;
    border: none;
    color: #fff;
    width: 150px;
    margin: auto;
    display: block;
}

.sampleReportInBox img {
    /* width: 35px;
    margin-right: 20px;*/
    width: 35px;
    margin-right: 9px;
}

.AboutUstLeft .sampleReportBtn {
    margin: 0;
}

.RecentPosts {
    padding: 50px 0;
}

.RecentPostsBox img {
    width: 100%;
}

.RecentPosts .sampleReportBox p {
    font-size: 16px;
}

.RecentPostsBox P {
    line-height: 30px;
    font-size: 16px;
    margin: 15px 0;
}

.mainFooter {
    background-color: #343434;
    padding: 40px 0;
    height: 599px;
    border-top: 5px solid #888;
}

.subFooter {
    padding: 20px 0;
}

.subFooter p {
    color: #000;
}

.footerFCNT {
    margin-bottom: 25px;
}

.footerFCNT p {
    font-size: 13px;
    line-height: 22px;
    font-family: sans-serif;
}

.footerFCNT p a {
    color: #4EAF8A;
}

.footer-column {
    border-right: 2px solid #555;
    height: 278px;
}

.footer-column h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    color: #4EAF8A;
    font-weight: 900;
}

.foot_links li {
    position: relative;
    padding: 5px 0;
    padding-left: 15px;
}

.foot_links li::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 4px solid transparent;
    border-left: 6px solid #fff;
    border-bottom: 4px solid transparent;
    left: 0;
    top: 13px;
}

.foot_linksLast li {
    padding: 0;
}

.foot_linksLast li::after {
    display: none;
}

.regLogiHover:hover {
    background-color: #4EAF8A !important;
}

.foot_links li a,
.footer-column p,
.foot_links li {
    font-size: 16px;
    line-height: 25px;
    font-family: sans-serif;
    color: #fff !important;
    border: none;
    text-decoration: none;
}

.RecentPostsMbox .slick-next {
    right: -20px;
}

.RecentPostsMbox .slick-next {
    right: -20px;
}

.RecentPostsMbox .slick-next:before,
.RecentPostsMbox .slick-prev:before {
    color: #000;
}


/*Login Stye by Pankaj*/

.gradient-form {
    background-image: url(../images/office-work.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gradient-formBGCLR {
    background-color: #f5f5f5;
    height: 100%;
    padding: 50px 0;
}

.newLogins {
    margin: 20px auto;
    border: none !important;
    text-align: center;
    width: 406px;
    background: white;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #f5f5fa);
    box-shadow: 0 5px 15px 0 rgba(37, 44, 97, .15), 0 2px 4px 0 rgba(93, 100, 148, .2);
    border: 1px solid #c3c3c3de;
}

.formBox {
    border-color: #4EAF8A;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 3px;
    border-left-width: 3px;
    border-style: solid;
    background-color: #fff;
    /*padding: 30px 15px;*/
    padding: 15px 13px;
}

.formBoxHead {
    text-align: center;
}

.formBoxHead img {
    width: 129px;
    display: block;
    margin: auto;
    margin-top: 1px;
}

.useFP {
    /*   color: #7e7070;
    font-size: 1.03em !important;*/
    color: #7e7070;
    font-size: 15px !important;
}

.asscptlogin {
    margin-top: 22px;
}

.formBoxHead h4 {
    /*font-size: 27px;
    font-weight: 800;
    margin: 40px 0px 9px;*/
    /*font-size: 25px;
    font-weight: 700;
    margin: 32px 0px 7px;*/
    font-size: 25px;
    font-weight: 700;
    margin: 28px 0px 7px;
}

.formBoxHead p {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.formBox form .form-floating input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999;
    border-radius: 0;
    padding: 0;
}

.formBox form .form-floating label {
    padding: 25px 0;
    border: none;
}

.formBox form .form-floating>.form-control:focus~label {
    transform: scale(.85) translateY(-0.9rem) translateX(0rem);
}

.acceptVeye label {
    /*display: flex;
    align-items: center;
    margin: 15px 0;*/
    display: flex;
    align-items: center;
    margin: 1px 0;
}

.acceptVeye label input {
    height: 20px;
    margin-right: 7px;
}

.acceptVeye label span {
    font-size: 13px;
    line-height: 20px;
    color: #555;
    font-weight: 600;
}

.VeyeLogin {
    background-color: #4EAF8A;
    height: 45px;
    width: 100%;
    border-radius: 0;
    color: #fff;
    line-height: 33px;
    padding: 0;
    margin-bottom: 31px;
    font-size: 20px;
    margin-top: 18px;
}

.VeyeLogin:hover {
    background-color: #2d936c;
    color: #fff;
}

.VeyeRegister {
    background-color: #444;
    height: 39px;
    width: 165px;
    border-radius: 50px;
    /*color: #fff !important;*/
    line-height: 35px;
    padding: 0 20px;
    font-size: 14px;
    margin-left: 35px;
}

.ForgotPassBox p {
    /*color: #444;
    font-size: 14px;
    text-decoration: underline;
    margin: 14px 0 25px 0;*/
    color: #444;
    font-size: 16px;
    text-decoration: underline;
    margin: 7px 0 10px 0;
}

.ForgotPassBox a {
    /*color: #0346b6 !important;*/
    font-size: 14px;
    text-decoration: underline;
}


/*Report Page By PK*/

.ReportPGHeadLft h1 {
    font-size: 30px;
    font-weight: 400;
    /* margin: 23px 0 6px 0; */
    margin: 23px 0 18px 0;
    position: relative;
    /*  border-bottom: 3px solid #4EAF8A;*/
    padding: 0 0 10px 0;
    display: inline-block;
}

.ReportPGHeadLft .breadcrumb {
    padding-left: 0;
}

.ReportPGHeadLft .breadcrumb li a {
    color: #000;
    font-size: 13px;
}

.ReportPGHeadLft p {
    color: #000;
    margin-top: 20px;
}

.ReportPG {
    padding-bottom: 50px;
}

.ReportCard {
    padding: 15px;
    border-radius: 0;
    margin-bottom: 20px;
}

.ReportCard .card-body {
    position: relative;
}

.ReportCard .card-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
    color: #444;
    display: inline-block;
    background-color: #e3e3e3;
    padding: 4px 3px;
    /*font-family: myFontTeav;*/
    font-family: sans-serif;
}

.ReportCard .card-Heading {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
    line-height: 25px;
}

.ReportCard .card-text {
    font-size: 15px;
    font-weight: 400;
    color: #444;
    line-height: 24px;
}

.ReportCard .ReadMoreRprtData {
    font-size: 13px;
    font-weight: 600;
    margin-top: 12px;
    display: block;
    color: #4EAF8A;
}

.ReportCard.EditorialCard .ReadMoreRprtData {
    font-size: 13px;
    color: #000000;
}

.EditorialCard img,
.StockAdvisory img {
    width: 100%;
    border-radius: 4px;
}

.StockAdvisory .card-Heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
}

.TagLabel {
    position: absolute;
    top: 15px;
    right: 0;
}

.CustomeNavbar {
    border-bottom: 1px solid #ccc;
}

.bd-aside {
    border: 1px solid #ccc;
}

.bd-aside .btn {
    background-color: #eee;
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    /*font-family: myFontHeading !important;*/
    font-family: sans-serif;
}


/**/

.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #54af8c !important;
}


/**/

.ReportPG .SubscribeTo h5 {
    font-size: 30px;
}


/*.menulsitShad{
       border: 1px solid #ddd;
    padding: 13px;
    box-shadow: 0px 0px 5px 0px #ddd; 
}*/

.bd-aside .btn svg {
    transition: transform .35s ease;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #4EAF8A;
    color: #fff;
    padding: 6px;
    margin-right: 10px;
    text-align: center;
}

.bd-aside .btn[aria-expanded="true"] svg {
    transform: rotate(90deg)
    /* rtl:ignore */
    ;
}

.bd-example-snippet ul li a {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    border: none;
    font-size: 16px;
    text-align: center;
    color: #000;
}

.text-gres {
    color: #4EAF8A !important;
}

.lesBosyCss {
    padding: 2px 16px;
}

.tmthora {
    margin-left: -9px !important;
}

.trsEd {
    font-size: 12px !important;
}

.GoBack {
    /*color: #fff;
    display: block;
    text-align: left;
    background: #18ba96;
    width: 103px;
    padding: 7px;
    font-weight: 800;
    box-shadow: 1px 1px #999;*/
    /*color: #fff;
    display: block;
    text-align: center;
    background: #18ba96;
    width: 112px;
    padding: 8px 4px;
    font-weight: 800;
    box-shadow: 1px 1px #999;*/
    color: #2e2929;
    display: block;
    width: 101px;
    padding: 7px 0px;
    font-weight: 800;
    cursor: pointer;
}

.bghatnahai {
    background: inherit;
    color: #000;
    box-shadow: 1px 0px 5px 0px #ddd;
}

.GoBack svg {
    color: #fff;
    margin-right: 5px;
}

.bd-example-snippet ul li:first-child a {
    border-radius: 50px !important;
    background-color: #ccc;
    color: #4EAF8A;
}

.bd-example-snippet ul li:last-child a {
    border-radius: 50px !important;
    background-color: #444;
    color: #ffffff;
}

.bd-example-snippet ul li.active a {
    border-radius: 50px;
    background-color: #4EAF8A;
    color: #fff;
}

.card_cont {
    display: flex;
}

.EditorialCard .card-body {
    margin-top: 3px;
}

.card-head h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.anothePrisvByc .btn {
    position: inherit !important;
    font-size: 16px !important;
    font-weight: 900 !important;
    border-radius: 8px !important;
    margin: 6px 0px !important;
    width: 100%;
}

.EditorialCard,
.StockAdvisory {
    padding: 0;
}

.hrfFonts {
    font-size: 13px;
    color: #198754;
}

.EditorialCard .card-title {
    /*color: #4EAF8A;*/
}

.EditorialCard .card-title span {
    display: inline-block;
    margin-left: 10px;
    color: #000;
}

.investerReport1 {
    padding: 50px 0;
}

.investerReportInn {
    /*border: 2px solid #ccc;*/
}

.InvestorHeading {
    height: 80px;
    text-align: center;
}

.wepAdding {
    margin-bottom: 14px !important;
}

.InvestorHeading {
    /*   line-height: 80px;
    font-size: 30px;
    color: #fff;
    border-bottom: 2px solid #bbbbbb;*/
    font-size: 30px;
    line-height: 59px;
    height: 63px;
    color: #fff;
    font-weight: 800;
    /*border-bottom: 2px solid #d9d9d9;
    background: whitesmoke;
    box-shadow: 0px 3px 1px 0px #e5e3e35e;*/
}

.unlsGreb {
    /*     border-bottom: 2px solid green;
    width: 359px;
    margin-top: -7px;*/
    border-bottom: 2px solid #4EAF8A;
    margin-top: -7px;
}

.InvestorCNTbox {
    padding: 20px 0px 23px 45px;
    /*border-right: 1px solid #857e7e;*/
}

.whtwedoCsss {
    border: 2px solid #ddd;
    padding: 26px;
    border-radius: 16px;
}

.bblandFt {
    font-size: 30px;
    /*margin-left: 12px;*/
    /*border-bottom: groove;*/
}

.InvestorCNTboxLeft {
    padding: 20px 20px 20px 20px;
}

.InvestorCNTboxLeft h3 {
    font-size: 32px;
    font-weight: 600;
    color: #302e2e;
    margin-bottom: 6px;
    font-family: system-ui;
}

.checkBoxst {
    border-radius: 3px !important;
    height: 18px !important;
    max-width: 19px !important;
    /*background: gray !important;*/
}

.InvestorCNTboxLeft h3 span {
    color: #343434;
    /*font-family: myFontSemiBold;*/
    font-family: sans-serif;
}

.TermAndCondition img {
    width: auto;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
}

.TermAndCondition p {
    font-size: 13px;
    line-height: 20px;
    color: #333;
    display: inline-block;
    margin-bottom: 17px;
}

.TermAndCondition p a {
    /*color: rgb(254, 152, 152);*/
    color: #021faf !important;
}

.paymentMathod .btn {
    width: 83% !important;
    height: 42px;
    color: #fff;
    background-color: #f00;
    border-radius: 22px;
    font-size: 18px;
    line-height: 24px;
    width: 55%;
    margin-top: 11px;
}

.paymentMathod .btn.PayPal {
    background-color: #ffac33;
    display: inline-flex;
    align-items: center;
    margin-top: 16px;
    justify-content: center;
}

.paymentMathod .btn.PayPal img {
    width: auto;
    height: 20px;
    margin-left: 10px;
}

.paymentMathod ul {
    padding: 0;
}

.paymentMathod ul li {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
}

.paymentMathod ul li img {
    width: auto;
    height: 20px;
}

.InvestorCNTbox p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.InvestorCNTbox h2 {
    font-size: 20px;
    /*font-family: myFontSemiBold;*/
    font-family: sans-serif;
    margin-bottom: 25px;
    color: #000000;
}

.InvestorCNTbox h2 span {
    /*font-weight: 600;*/
    font-weight: 500;
    background: #ebebeb;
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 105px;
}

.InvestorCNTbox ul {
    margin-bottom: 30px;
}

.InvestorCNTbox ul li {
    display: flex;
    line-height: 25px;
    margin-bottom: 15px;
    align-items: baseline;
    /*font-weight: 700;*/
}

.InvestorCNTbox ul li svg {
    margin-right: 15px;
    width: 20px !important;
    height: 20px;
    background-color: #4EAF8A;
    color: #fff;
    padding: 4px;
    border-radius: 50px;
    top: 5px;
    position: relative;
}

.FAQ_Section .FAQ_heading {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.customAccordian .accordion-item {
    margin-bottom: 15px;
    border: none;
}

.customAccordian .accordion-item .accordion-header .accordion-button {
    border: 2px solid #ccc;
    background-color: transparent;
    box-shadow: none;
    border-radius: 7px;
    color: #000000;
    font-weight: 600;
}

.customAccordian .accordion-item .accordion-collapse {
    border: 2px solid #4EAF8A;
    border-top: none;
    border-radius: 0;
}

.customAccordian .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    border-bottom: none;
    border-color: #4EAF8A;
    color: #4EAF8A;
}

.customAccordian .accordion-item .accordion-header .accordion-button::after {
    content: "+";
    background-image: none;
    width: 20px;
    height: 20px;
    font-size: 26px;
    transform: rotate(180deg);
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

.customAccordian .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    content: "-";
    background-image: none;
    background-color: #4EAF8A;
    border-radius: 3px;
    color: #fff;
}

.footer-column .btn.btn-outline-light {
    font-size: 15px;
}


/*about*/

.About,
.PastRecommend,
.ContactPage,
.chartdivBox,
.WebinarPG {
    padding: 32px 0;
    /*border: 1px solid #e8e5e5;*/
    box-shadow: 1px 1px 1px 0px #ededed;
}

.About02,
.About04,
.PastRecommend02,
.ContactMap,
.webinarRegister {
    padding-bottom: 50px;
}

.AboutLeft {
    padding-right: 30px;
    position: relative;
}


/*.videoPlay {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    background-color: #4EAF8A;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    border-radius: 100%;
}*/

.AboutLeft img {
    width: 100%;
    border-radius: 8px;
}

.AboutRight h2 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    line-height: 50px;
}

.AboutRight p,
.AboutRight ul li,
.PastRecommend ul li {
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-align: justify;
}

.AboutRight ul {
    margin-top: 20px;
}

.AboutRight ul li svg {
    margin-right: 15px;
    color: #4EAF8A;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.About02 .feature h3 {
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    font-weight: 700;
    position: relative;
}

.About02 .feature h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    top: 25px;
    left: 0;
    background-color: #4EAF8A;
}

.About02 .feature .feature-icon {
    background-color: #4EAF8A !important;
    border-radius: 0;
}

.About02 .feature p {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 28px;
}

.AboutMain .ReportPGHeadLft nav {
    display: inline-block;
}

.About03 img {
    border-radius: 0;
}

.PastRecommend ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.PastRecommend ul {
    border-bottom: 2px solid #ccc;
    margin-left: 3%;
}

.contactForm {
    padding: 20px;
}

.contactForm h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
}

.contactForm .btn {
    width: 100%;
    border-color: #000000;
    height: 50px;
    line-height: 50px;
    padding: 0;
    background-color: #000000;
}

.ContactAddress h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.ContactAddress {
    background-image: url(../images/ContactAdd.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ContactAddress .flex-column {
    background-color: #3c3c3cde;
}

.ContactAddress p,
.ContactAddress ul li {
    line-height: 30px;
    font-size: 16px;
    font-weight: 300;
}

.ContactAddressCard {
    margin: 0px 0 40px 0;
}

.chartdivBoxINN {
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.chartdivBoxINN h3 {
    font-size: 20px;
    font-weight: 700;
    color: #4EAF8A;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.imgDummys {
    max-width: 48px;
    /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);*/
}

.onoffers {
    /*background: #f00; */
    max-width: 71px;
    color: #f00;
    padding: 0px 0px 0px 1px;
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 800;
    /*background: #f00;
    max-width: 55px;
    color: #fff;
    padding: 3px 0px 5px 1px;
    margin-bottom: 0px;
    margin-top: 9px;
    font-size: 10px;
    font-weight: 800;*/
}


/*Price Box*/

.carBoxyShaf {
    /*border: 1px solid #9d9d9d;*/
    padding: 24px;
    border-radius: 23px;
    box-shadow: 1px 4px 13px 5px #958e8e5e;
    /*border-top: 5px solid #4EAF8A;
    border-bottom: 5px solid #4EAF8A;*/
}

.DivInRes {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 18px;
    font-family: sans-serif;
}

.pasiu12Tops {
    padding-top: 13px;
}

.setctSi {
    padding-bottom: 23px;
    line-height: 24px;
}

.estRtsCss {}

.custoButList {
    padding: 10px !important;
}

.talktoslse {
    background: #ededed !important;
    /*width: 91%;*/
    margin-top: 10px;
    border: 1px solid #898383 !important;
    box-shadow: 0px 0px 3px 0px #999;
    bottom: -13px !important;
}

.buildwonp {
    font-weight: 900 !important;
    margin-bottom: 27px !important;
    margin-top: 16px;
}

.PricingCardBox {
    /*background-color: #4EAF8A;
    padding: 1px;
    box-shadow: 0px 0px 20px -5px #999;
    position: relative;*/
    position: relative;
    border-bottom: 8px solid #378B6B;
    border-top: 8px solid #378B6B;
    border-left: 1px solid #378B6B;
    border-right: 1px solid #378B6B;
    border-radius: 18px;
    font-weight: bold;
    height: auto !important;
}

.anothersPricing {
    padding: 1px;
    position: relative;
    border-bottom: 8px solid #707070;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-radius: 25px;
    height: 416px;
    /* width: 366px;
    /*padding: 1px;
    position: relative;
    border-top: 8px solid #707070;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-radius: 25px;
    height: 451px;
    width: 366px;*/
}

.reslistys {
    margin-left: 25px;
}

.customHightSpecila {
    height: auto !important;
    padding: 8px;
    background: #fbfbfb;
}


/*.PricingCardBox::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-right: 60px solid #f00;
    border-bottom: 60px solid transparent;
    border-radius: 10px;
    top: -40px;
    right: -10px;
    transform: rotate(135deg);
    z-index: 0;
}*/

.PricingCardBoxheader small {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.PricingCardBoxheader {
    color: #fff;
    height: auto;
}

.PricingCardBoxheader h2 {
    /*    font-size: 18px;
    padding-bottom: 10px;
    margin-top: 12px;
    font-weight: 600; */
    /*font-size: 24px;
    padding-bottom: 25px;
    margin-top: 23px;
    font-weight: 600;
    color: #000;*/
    font-size: 18px;
    font-weight: 900;
    color: #545454;
    padding: 18px 28px 8px;
}

.PricingCardBoxbody span {
    background-color: #f00;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}

.PricingCardBoxbody {
    /*border-radius: 20px;
    background-color: #fff;
    padding: 35px;
    text-align: left;*/
    /*background-color: #fff;
    padding: 18px;
    text-align: center;*/
    padding: 6px 8px;
    text-align: center;
}

.PricingCardBoxbody h3 {
    /*font-size: 22px;
    font-weight: 600;
    color: #303030;
    margin: 3px 0px 1px 0px;*/
    font-size: 24px;
    font-weight: 600;
    color: #303030;
    margin: 0px 0px 1px 0px;
    /*font-family: myFontHeading;*/
    font-family: sans-serif;
}

.PricingCardBoxbody h4 {
    /*font-size: 22px;
    font-weight: 700;
    color: #999;
    padding: 0 0;
    margin: 10px 0;
    display: inline-block;
    position: relative;*/
    /*font-size: 19px;
    font-weight: 700;
    color: #999;
    padding: 0 0;
    margin: 5px 0;
    display: inline-block;
    position: relative;*/
    font-size: 15px;
    font-weight: 700;
    color: #999;
    padding: 0 0;
    margin: 3px 0;
    display: inline-block;
    position: relative;
}

.PricingCardBoxbody h4::after {
    position: absolute;
    border-bottom: 2px solid #e7004b;
    content: "";
    width: 100%;
    top: 9px;
    left: 0;
}

.PricingCardBoxbody p {
    font-size: 16px;
    color: #000;
}

.hrstyles {
    border-bottom: 1px solid #9d9d9d;
    margin-top: 6px;
    padding: 0px;
    width: 222px;
}

.PricingCardBoxbody ul.list-unstyled {
    /*border-top: 1px solid #00000094;
    padding-top: 13px;
    margin-top: 14px;
    margin-bottom: 19px;*/
    /*    margin-top: 12px;
    margin-bottom: 23px;*/
    margin-top: 12px;
    margin-bottom: 122px;
}

.PricingCardBoxbody ul.list-unstyled li {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    text-align: initial;
    /*font-weight: 900;*/
}

.HRSline {}

.PricingCardBoxbody ul.list-unstyled li svg {
    margin-right: 7px;
    color: #4EAF8A;
    margin-top: 2px;
}

.PricingCardBoxbody .btn {
    background-color: #f00;
    border-color: #f00;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    border-radius: 8px;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: 0px 36px;
}

.PricingCardBoxCustome .PricingCardBoxbody h5 {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    text-align: center;
}

.PricingCardBoxCustome .PricingCardBoxbody ul {
    padding-left: 20px;
}

.PricingCardBoxCustome .PricingCardBoxbody ul li {
    list-style: disc;
    display: list-item;
}

.WebinarPGBox .WebinarPGBoxImg {
    position: relative;
}

.WebinarPGBox .WebinarPGBoxImg img {
    width: 100%;
}

.WebinarPGBox p {
    font-size: 15px;
    margin: 15px 0 15px 0;
    font-weight: 600;
    line-height: 22px;
    color: #000;
}

.WebinarPGBox p span {
    font-size: 13px;
    display: inline-block;
    font-weight: 500;
    margin-right: 30px;
    color: rgb(100, 100, 100);
}

.WebinarPGBox p span svg {
    color: #4EAF8A;
    margin-right: 8px;
}

.WebinarPGBox .WebinarPGBoxImg .videoPlay {
    width: 60px;
    height: 60px;
    padding: 16px;
    font-size: 20px;
}

.webinarRegister .contactForm {
    border-radius: 10px;
    text-align: center;
}

.webinarRegister .contactForm h3 {
    font-size: 30px;
    margin: 0;
}

.webinarRegister .contactForm h4 {
    margin: 20px 0;
    font-size: 20px;
}

.webinarRegister .contactForm input.form-control {
    background-color: #eee;
    border-radius: 0;
}

.webinarRegister .contactForm .btn {
    width: auto;
    background-color: #4EAF8A;
    border-color: #4EAF8A;
    padding: 0 40px;
    border-radius: 50px;
    font-size: 20px;
}

.sectorSpecific {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sectorSpecificHead {
    background-color: #eee;
    border-radius: 10px;
    height: 56px;
}

.seeALink {
    color: #000;
}

.sectorSpecificHead h2 {
    /*font-size: 30px;
    font-weight: 800;
    color: #000;
    line-height: 80px;
    margin: 0;
    padding: 0 15px;*/
    font-size: 24px;
    font-weight: 500;
    line-height: 53px;
    margin: 0;
    padding: 0 34px;
}

.sectorSpecificBody {
    padding: 30px;
    text-align: center;
}

.sectorSpecific p {
    font-size: 20px;
    color: #000;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sectorSpecificBtn {
    /*border: 2px solid #4EAF8A;
    border-radius: 50px;
    height: 56px;
    width: auto;
    line-height: 52px;
    padding: 0px 40px;
    font-size: 20px;
    margin: 0 10px;
    display: inline-block;
    margin-bottom: 15px;*/
    border: 2px solid #4EAF8A;
    border-radius: 50px;
    height: 51px;
    width: auto;
    line-height: 47px;
    padding: 0px 21px;
    font-size: 18px;
    margin: 0 10px;
    display: inline-block;
    margin-bottom: 14px;
}

.PrivacyPolicy p,
.PrivacyPolicy ul li {
    font-size: 16px;
    line-height: 25px;
    color: #000;
    margin: 0 0 15px 0;
}

.PrivacyPolicy p a {
    color: #4EAF8A;
}

.PrivacyPolicy h1 {
    font-size: 20px;
    font-weight: 700;
}

.PrivacyPolicy ul {
    margin-bottom: 20px;
    margin-left: 18px;
}

.PrivacyPolicy ul li {
    display: list-item;
    list-style: disc;
    margin: 0;
}

.DevidenReportBoxFirst h4,
.DevidenReportBoxSecond h5 {
    font-size: 18px;
    font-weight: 800;
    color: #4EAF8A;
    margin-bottom: 15px;
}

.DevidenReportBox {
    border: 1px solid #000;
    border-radius: 10px;
}

.DevidenReportTable {
    height: 500px;
    overflow-y: auto;
    margin: 15px 10px 15px 0px;
    padding-right: 10px;
}

.DevidenReportBoxSecondBox {
    margin-bottom: 30px;
}

.DevidenReportBoxSecondBox h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 800;
    color: #000;
    margin-bottom: 15px;
}

.DevidenReportBoxSecondBox p {
    font-size: 18px;
    color: #555;
    font-weight: 400;
}

.DevidenReportBoxSecondBox:last-child {
    /*    border-top: 1px solid #ccc;*/
    padding-top: 20px;
}

.DevidenReportBoxSecondBox h5 span {
    display: flex;
    align-items: center;
}

.DevidenReportBoxSecondBox h5 span b {
    display: inline-block;
    margin-right: 20px;
}

.DevidenReportBoxSecondBox:last-child h5 span b {
    margin-right: 35px !important;
}

.DevidenReportBoxSecondBox h5 span svg {
    color: #777;
    font-size: 18px;
}

.DevidenReportTable::-webkit-scrollbar {
    width: 15px;
}


/* Track */

.DevidenReportTable::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee;
}


/* Handle */

.DevidenReportTable::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


/* Handle on hover */

.DevidenReportTable::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.DevidenReportTable .table tbody tr td {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    padding: 15px;
}

.DevidenReportTable .table tbody tr td:nth-child(2) {
    font-weight: 800;
}

.searchBox .btn-close {
    display: none;
}

.TestImaCss {}


/*@media only screen and (max-width: 768px) and (min-width: 1536px) 
{ 
    .TestImaCss{
   border: 10px solid red !important;
}
}*/


/*@media all and (device-width: 1536px) {
  .TestImaCss { 
    border: 10px solid red !important;
 } 
}*/


/*iPDS CSS*/


/*@media only screen and (min-device-width: 834px) and 
(max-device-width: 1112px) and 
(-webkit-min-device-pixel-ratio: 2) {
 .subscrrespot{

 }
}
 
@media only screen and (min-device-width: 834px) and 
(max-device-width: 1194px) and 
(-webkit-min-device-pixel-ratio: 2) {
  .subscrrespot{
    
 }
}
 
@media only screen and (min-device-width: 1024px) and 
(max-device-width: 1366px) and 
(-webkit-min-device-pixel-ratio: 2) {
  .subscrrespot{
    
 }
}
*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .subscrrespot {}
}


/**/

@media (min-device-width:769px) and (max-device-width:1024px) {
    .subscrrespot {
        margin: 0px !important;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .divfIpas>* {
        width: 50% !important;
    }
    .TestImaCss {}
    .CatagoriesBox {
        height: 287px !important;
    }
    .cate__explore {}
    .onehuS {
        margin-bottom: 18px !important;
        height: 104px;
    }
    /*.ReportTypeSlide{

}*/
    .socialTocs {
        display: flex !important;
        margin-left: -48px;
    }
    .TopASX {
        margin: 19px 0px 0px -11px;
    }
    .sampleReportRight {
        display: flex !important;
    }
    .Shds__gss {
        height: 293px;
    }
    .myRowPosi {
        width: 100%;
    }
    .iPadCss {
        width: 100%;
    }
    .footer-column {}
    .WhatSaySlide {
        margin: 0 24px !important;
    }
    .footer-column {
        border-bottom: initial !important;
    }
    .mainFooter {
        height: 817px !important;
    }
    .loagsMyTs {
        top: 448px;
        position: absolute;
    }
    .subscrrespot {
        margin: 13px -19px 0px -17px;
        /*margin: 0px -17px 0px 42px;*/
    }
    .SlideBoxCnt {
        /*border: 2px solid red;*/
        height: 122px;
    }
    .slick-slide img {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    .SlideBox {
        margin: 0px 3px !important;
    }
    .FirstFace_Sec02 {
        text-align: center !important;
        padding: 67px 15px !important;
    }
    .ReportType {
        padding-right: 0px;
        background: #fff;
    }
    .veAdsCss {
        left: 8px;
    }
    .liBusBo {
        margin-bottom: 75px !important;
    }
    .sunvscCss {
        margin-top: 10px !important;
    }
    .respon {
        margin: -24px 16px 14px 8px !important;
    }
    .respoRead {
        margin-left: 0px !important;
        padding: 0px !important;
    }
    .OnleMedsPuts {
        display: none !important;
    }
    .firstHeadTop {
        padding: 21px !important;
    }
}

@media (max-width: 767px) {
    .TestImaCss {
        position: inherit !important;
        margin-bottom: 17px !important;
    }
    /* Bikash Today */
    .sGets {
        font-size: 16px !important;
    }
    .spnhsGrab {
        font-size: 24px !important;
    }
    /* Bikash Today */
    .senters {
        text-align: center !important;
    }
    .PricingCardBoxbody h4 {
        font-size: 17px !important;
    }
    .GetStarted,
    .ReadMore {
        font-size: 14px !important;
        padding: 8px 14px !important;
    }
    .respon {
        /*margin-top: -48px;*/
        float: left !important;
        margin-top: -43px !important;
        margin-left: 19px !important;
    }
    .layerbgsVideo {
        width: 185px !important;
        position: absolute !important;
        height: 374px !important;
        margin-left: -3px !important;
    }
    .SlideBoxCnt {
        padding: 18px 17px !important;
    }
    .webCardsc {
        margin: 12px 0px !important;
    }
    .RightBoxIN-Menu {
        display: contents !important;
    }
    .loagsMyTs {
        margin-top: 25px;
    }
    .slick-list {
        margin-bottom: 14px !important;
    }
    .bd-example {
        /*display: none !important;*/
    }
    .bd-example-snippet ul li:last-child a {
        color: #000 !important;
    }
    .AboutRight {
        margin-top: 0px;
        font-size: 24px;
        font-weight: 600;
        text-align: initial !important;
    }
    .WhatSay h4 span {
        font-size: 21px !important;
    }
    .About,
    .PastRecommend,
    .ContactPage,
    .chartdivBox,
    .WebinarPG {
        padding: 9px 0 !important;
    }
    .AboutRight h2 {
        margin-bottom: 8px !important;
        font-size: 32px !important;
    }
    .tesy__mest {
        padding-top: 35px !important;
    }
    .RecentPosts {
        padding: 9px 0 !important;
    }
    .ReportPG {
        padding-top: 0px !important;
    }
    .bblandFt {
        font-size: 29px !important;
    }
    .InvestorCNTboxLeft h4 {
        font-size: 22px !important;
        margin: 2px 0px !important;
    }
    .InvestorCNTboxLeft {
        padding: 11px 6px 14px 7px !important;
        /*padding: 21px 24px 13px 24px !important;*/
    }
    .ForgotPassBox p {
        font-size: 14px;
        padding-left: 30px;
    }
    .srgPost {
        line-height: inherit !important;
        margin: 0px !important;
    }
    .newLogins {
        width: 100% !important;
    }
    .InvestorCNTboxLeft h3 {
        border-radius: 7px;
        padding: 6px 9px 10px;
        background: #ebebeb;
        margin-bottom: 22px;
    }
    .detsilsHeight {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 14px !important;
        padding: 14px !important;
        margin: 3px 13px !important;
    }
    .edexdSlor {
        padding: 4px 39px !important;
        font-size: 17px !important;
        color: #000 !important;
        position: absolute;
        margin-top: -37px !important;
    }
    .recomdedTable table tbody tr td.NumRed {
        padding: 0px !important;
    }
    .footer-column {
        height: auto !important;
    }
    .mainFooter {
        padding: 20px 0 0px 0 !important;
    }
    .footerKaPading {
        margin-bottom: 18px;
    }
    .mob__resd {
        flex-wrap: inherit;
    }
    .anothersPricing {
        height: 417px;
        text-align: center;
        padding: 5px;
    }
    .floTysl {
        float: inherit !important;
        margin-bottom: 33px;
    }
    .bghatnahai {
        margin-right: 48px !important;
    }
    .mOffestLess {
        margin-left: 0px !important;
    }
    .DevidenReportTable .table tbody tr td {
        padding: 10px !important;
        border: 1px solid #dddddd42 !important;
        font-size: 15px;
    }
    .DivInRes {
        font-size: 23px !important;
        margin-bottom: 9px !important;
    }
    .investerReport1 {
        padding: 75px 0px 0px !important;
    }
    .whtwedoCsss {
        padding: 14px !important;
    }
    .InvestorCNTbox h2 span {
        font-size: 13px !important;
    }
    .respoCheck {
        margin-top: 17px;
    }
    .serchU .sseUesr {
        background: inherit !important;
        color: #000 !important;
        font-size: 20px !important;
        font-weight: 200 !important;
    }
    .slick-next:before,
    .slick-prev:before {
        font-size: 27px !important;
        color: #000 !important;
    }
    .slick-next {
        right: -18px !important;
    }
    .slick-prev {
        left: -20px !important;
    }
    .errShFromInd {
        box-shadow: 0px 0px 0px 1px #ddd !important;
    }
    .main__Topso {
        padding-top: 0px !important;
    }
    .slider {
        padding-bottom: 17px !important;
    }
    .StockAdvi {
        padding-bottom: 10px !important;
        padding-top: 16px !important;
    }
    .rris img {
        object-fit: cover !important;
        border-radius: 11px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    /**/
    .PricingCardBoxbody {
        padding: 7px !important;
    }
    .PricingCardBoxbody ul.list-unstyled li svg {
        margin-top: 2px !important;
        margin-right: 6px !important;
    }
    .PricingCardBoxbody ul.list-unstyled {
        padding-top: 7px !important;
        margin-top: 10px !important;
        margin-bottom: 15px !important;
    }
    .PricingCardBoxbody h3 {
        font-size: 21px !important;
        margin: 8px 0px 0px 0px !important;
    }
    .reslistys {
        /*padding-left: 73px;*/
        padding-left: 39px;
    }
    .PricingCardBoxheader h2 {
        font-size: 25px !important;
        margin-top: 0px;
        padding: 3px 16px;
    }
    .PricingCardBoxbody ul.list-unstyled li {
        font-size: 19px !important;
        margin-bottom: 5px !important;
    }
    .bd-example-snippet ul li a {
        width: 16px;
        background: inherit !important;
        height: 0px;
        margin: 0px 4px;
    }
    .respoPlacsHold {
        height: 100% !important;
    }
    .navbar-brand-logo img {
        width: auto !important;
        height: 56px !important;
        margin-top: 8px !important;
    }
    .User .userBtn {
        margin: 0px !important;
    }
    .DasSubscBTN {
        font-size: 12px !important;
        height: auto !important;
        padding: 7px 24px !important;
    }
    .DashReprtBox p {
        font-size: 14px !important;
        margin: 9px 0 !important;
        font-weight: 500 !important;
    }
    .DashReprtBox h4 {
        margin-bottom: 15px !important;
    }
    .lesBosyCss {
        padding: 11px 0px !important;
    }
    .fsrCdsrd {
        margin: 0px !important;
    }
    .firstHeadTop {
        justify-content: initial !important;
        padding: 14px 2px 0px 0px !important;
    }
    .mobiUesrCss {
        position: absolute;
        right: 9px;
        top: 26px;
        padding: 0px 48px;
    }
    .FirstFace_SecSub {
        padding: inherit !important;
    }
    .newTypes {
        min-width: 226px !important;
        border: 1px solid #23ab66 !important;
    }
    /**/
    .respoRead {
        margin-top: 26px;
    }
    .VeyeOffers p,
    .AboutUstLeft p {
        margin-bottom: 32px !important;
        /*text-align: justify !important;*/
    }
    .VeyeOffers {
        text-align: inherit !important;
    }
    .AboutUsBg {
        margin: 20px 0 !important;
    }
    .maxSpecr {
        height: 261px !important;
        padding: 12px 5px !important;
    }
    .Shds__gss {
        height: 295px;
        box-shadow: inherit !important;
        margin-bottom: 26px !important;
    }
    .FirstFace_SecSub {
        box-shadow: inherit !important;
    }
    .ExploreBlue {
        padding: 8px 15px !important;
        font-size: 17px !important;
        float: inherit;
    }
    .forMobileView {
        flex-wrap: inherit !important;
    }
    .TopASX {
        margin-top: 20px !important;
        box-shadow: inherit;
        border: 1px solid #b5b2b2;
    }
    .lefstColun {}
    .catr__psty {
        text-align: center !important;
        line-height: 21px !important;
        margin-bottom: 10px !important;
    }
    .stockadvers {
        padding: 1px !important;
    }
    .subscrrespot {
        margin-left: 54px;
    }
    .containerwidth {
        max-width: 100% !important;
    }
    .SlideBox {
        height: auto !important;
        padding: 11px;
    }
}

@media (min-width: 1400px) {
    .MyManu .offcanvas-body .nav-item a {
        padding: 0px 0 0 23px !important;
        font-size: 17px !important;
        font-family: system-ui;
    }
    .searchBox {
        width: 445px !important;
    }
    .RightBoxIN-Menu {
        right: -280px !important;
    }
    .containerwidth {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        /*max-width: 1300px;*/
        max-width: 1200px;
    }
    .containerwidth {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    .RecentPostsMbox {
        padding: 0 10px;
    }
    .abbsi__top {
        margin-top: 1px !important;
    }
    .Daily_A {
        padding-bottom: 10px;
    }
    .Dais__tops {
        margin-top: 0px !important;
    }
    .bar_seprator {
        margin-top: 0px !important;
    }
    .CustomeNavbar {
        margin: 0;
        padding: 0;
    }
    .sampleReportRight {
        display: block;
        margin: 0;
    }
    .sampleReportInBox {
        margin-bottom: 20px;
    }
    .AllExplore {
        bottom: 15px;
    }
    .MyManu .offcanvas-body .nav-item {
        display: block;
        width: 100%;
    }
    .FirstFace_Sec h1 {
        font-size: 24px;
        margin: 0;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .MyManu .offcanvas-body .nav-item a {
        padding: 10px 0;
    }
    .MyManu .offcanvas-body .nav-item a.dropdown-item {
        padding: 10px 15px;
    }
    .searchBox {
        background: #fff;
        width: 30px;
        border-radius: 4px;
        height: 30px;
        border-width: 1px;
        padding: 0;
        border: none;
    }
    .searchBox .SearchGrourp {
        background-color: transparent;
        display: none;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        background: #fff;
        padding: 5px 10px;
        border: 1px solid #eee;
        box-shadow: 0px 5px 15px -5px #000;
        z-index: 9;
        align-items: center;
    }
    .FirstFace_Sec02 {
        height: 200px;
        padding: 30px 15px;
        text-align: left;
    }
    .FirstFace_SecSub {
        top: 0;
        padding: 30px 0;
        height: auto;
        background-color: transparent;
    }
    .Daily_A h2 {
        font-size: 30px;
        font-weight: 600;
        color: #000;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .LangDD {
        background-color: transparent;
        height: auto;
    }
    .LangDD .dropdown-toggle {
        align-items: center;
    }
    .User .userBtn span {
        display: none;
    }
    .User .userBtn {
        border-radius: 100%;
        background: #4EAF8A;
        padding: 0 9px;
        height: 30px;
        width: 30px;
        color: #fff;
        font-size: 12px;
        margin: 0px 15px 0px 30px;
    }
    .VeyeOffers h3,
    .recomdedTable h3,
    .StockAdvi h4,
    .sampleReportLeft h4,
    .AboutUstLeft h4,
    .WhatSay h4,
    .RecentPosts h4 {
        font-size: 26px !important;
        font-weight: 700;
        /*text-align: center;*/
        margin: 0 0 20px 0;
        font-family: sans-serif;
    }
    .headeDlight,
    .head__tsxt {
        font-weight: 700 !important;
        color: #000 !important;
    }
    .VeyeOffers {
        padding: 0;
        text-align: center;
        margin-bottom: 50px;
    }
    .VeyeOffers p,
    .StockAdviSlide p,
    .ReportTypeSlide h5,
    .SubText,
    .sampleReportLeft p,
    .sampleReportBox p,
    .AboutUstRight h5,
    .VeyeOffers p,
    .AboutUstLeft p,
    .WhatSaySlide div p {
        /*font-size: 20px !important;
        line-height: 30px;
        text-align: center;*/
        font-size: 16px !important;
    }
    .WhatSaySlide div p {
        font-weight: 500;
        margin: 0;
    }
    .veyOffer__subscriber {
        margin: 0 !important;
    }
    .StockAdviSlide {
        height: 334px;
        padding: 10px;
        margin: 0 0px 27px 0px;
    }
    .bar_seprator {
        display: none;
    }
    .AboutUstRight img {
        width: 100%;
    }
    .AboutUsBgCLR {
        background-color: #bfc5c3eb;
        padding: 28px;
        height: 100%;
        box-shadow: 4px 0px 12px 0px #0000002e;
        border-radius: 14px;
    }
    .bgf5f5f5s {
        background: #fafafa !important;
        padding: 12px !important;
    }
    .firstHeadTop {
        padding: 5px 0;
        align-items: center;
    }
    .StockAdviSlide h5 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .StockAdviSlide .ReadMore {
        margin-bottom: 10px;
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
    }
    .StockAdviSlide p {
        margin-bottom: 5px;
    }
    .StockAdvi .slick-next,
    .StockAdvi .slick-prev {
        display: none !important;
    }
    .ReportType {
        height: auto;
        background-image: none;
        padding-right: 0;
    }
    .myRow {
        margin: 0;
        align-items: center;
    }
    .TopASX {
        background-size: contain;
        background-position: center;
        height: auto;
        width: 100%;
        margin: 0;
    }
    .ReportTypeSlide {
        padding: 15px;
        margin: 2px;
        border: 1px solid #ccc;
        box-shadow: none;
        text-align: center;
    }
    .ReportTypeSlide h5,
    .SubText,
    .sampleReportLeft p,
    .sampleReportBox p,
    .AboutUstRight h5 {
        font-size: 16px;
        margin: 0 0 5px 0;
    }
    .ReportTypeSlide p {
        font-size: 12px;
        padding-right: 0;
        line-height: normal;
        margin: 0;
    }
    .ReportType .slick-next,
    .ReportType .slick-prev {
        display: none !important;
    }
    .StockAdvi {
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .CatagoriesBox h5 {
        margin-bottom: 20px !important;
    }
    .CatagoriesBox h5::after {
        bottom: -10px;
    }
    .sampleReportLeft p,
    .sampleReportBox p {
        line-height: 20px;
        font-size: 12px !important;
    }
    .sampleReportLeft,
    .sampleReportBox {
        margin-bottom: 20px;
    }
    .sampleReportBox p {
        padding: 0;
        margin: 0;
    }
    .AboutUsBg {
        height: auto;
    }
    .videoIcon {
        margin-left: 20px;
    }
    .AboutUstLeft {
        margin-bottom: 20px;
    }
    .WhatSaySlide {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .WhatSaySlide .CustomerSay {
        width: 70px;
        margin: auto;
    }
    .WhatSay .slick-next,
    .WhatSay .slick-prev {
        display: none !important;
    }
    .footer-column {
        border-right: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .footer-column h4 {
        margin: 0;
    }
    .GetStarted,
    .ReadMore {
        margin: 0px;
        margin-right: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 16px;
        padding: 7px 20px;
    }
    .firstHeadTop .navbar-toggler {
        padding-right: 0;
    }
    .FirstFace_Sec {
        background-position: center;
    }
    .RightBoxIN-Menu {
        position: initial !important;
    }
    .forMobileView {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .forMobileView.row>* {
        width: auto;
    }
    .ReportPGHeadLft h1 {
        font-size: 24px;
    }
    .ReportPGHeadLft h1::after {
        width: 250px;
    }
    .ChildPage .searchBox {
        display: none;
    }
    .GoBack {
        text-align: left;
    }
    .ReportPG {
        padding-top: 30px;
    }
    .ReportPG .row.align-items-end.mb-5 {
        flex-wrap: wrap-reverse;
        margin-bottom: 30px !important;
    }
    .bd-aside {
        margin-top: 20px;
    }
    .paymentMathod .btn {
        font-size: 11px;
    }
    .paymentMathod .btn img {
        height: 10px !important;
    }
    .mainFooter {
        height: auto;
        padding: 40px 0 60px 0;
    }
    .sectorSpecificBtn {
        font-size: 14px;
        display: block;
    }
    .recomdedTable .input-group {
        width: 100% !important;
    }
    #chartdiv {
        width: 1000px;
    }
    .chartdivBoxINN {
        overflow-x: scroll;
    }
    .SlideBoxCnt {
        position: inherit !important;
        background-color: #ddd !important;
        padding: 5px 15px;
        text-align: center;
    }
    .SlideBoxCnt h5 {
        font-weight: 800;
    }
    .slick-dots {
        display: block !important;
        bottom: 0 !important;
    }
    .slick-slider {
        margin: 0 !important;
    }
    .slick-slide img {
        width: 100% !important;
        height: 200px !important;
    }
    .SlideBox {
        height: auto;
        margin: 0;
    }
    .SlideBoxCnt p {
        font-size: 18px !important;
        text-align: center;
        line-height: 25px;
        padding: 0;
    }
    .exdCXcss,
    .SlideBoxCnt a,
    .AllExplore {
        /* display: none !important; */
        text-align: initial;
    }
    .SlideBoxCnt small {
        position: absolute;
        top: -180px;
        right: 20px;
        background: #00000082;
        color: #fff;
        padding: 5px 15px;
        border-radius: 3px;
        font-size: 12px;
    }
    .slider {
        padding-bottom: 50px;
    }
    .ReportTypeSlide img {
        height: 60px !important;
        width: auto !important;
        margin: auto;
    }
    .SlideDotsCustome .slick-dots {
        text-align: center;
    }
    .WhatSaySlide .CustomerData img {
        margin: auto;
        width: auto !important;
        height: 35px !important;
    }
    .SlideDotsCustome .slick-dots li.slick-active button:before {
        background: #4EAF8A;
    }
    .containerwidth {
        max-width: 80%;
    }
}