.sidebar {
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  border-left: 20px solid #4EAF8A;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
    color: #333;
    padding: 9px 15px;
    font-size: 18px;
    font-weight: 900;
    border-bottom: 2px solid #ccc;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #4EAF8A;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}




.DashboardHeading {
  font-size: 20px;
    font-weight: 800;
    color: #444;
    display: flex;
    align-items: center;
}

.sidebar .sidebar-sticky h1.DashboardHeading,
.DashboardRight {
  padding: 10px 20px 20px 20px;
  height: 150px;
  border-bottom: 2px solid #ccc;
}

.sidebar .sidebar-sticky h1.DashboardHeading svg {
  height: 46px;
    width: 46px;
    text-align: center;
    font-size: 17px;
    border: 1px solid #444;
    border-radius: 100%;
    padding: 12px;
    margin-right: 15px;
}

.DashboardRight {
  padding: 20px 0;
}

.DashboardRightHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.DashboardSubHeading {
  font-size: 20px;
  color: #444;
  font-weight: 500;
}
.submitsUpdate{
      padding: 0px 53px !important;
    font-size: 18px !important;
}

.DasSubscBTN {
  display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #4EAF8A;
    background-color: #4EAF8A;
    border-radius: 50px;
    height: 46px;
    padding: 0px 21px;
    font-size: 14px;
    margin: 0 10px;
}

.DashboardRightDown {
  margin-top: 30px;
}

.DashReprtBox {
   border: 1px solid #b1aeae;
    text-align: center;
    padding: 24px 7px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.DashReprtBox img {
      width: auto;
    height: 60px;
    display: block;
    margin: auto;
}

.DashReprtBox p {
  font-size: 14px;
  margin: 20px 0;
  font-weight: 500;
}

.DashReprtBox h4 {
      font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}

.DashReprtBox .DasSubscBTN {
  background-color: #fff;
  color: #000;
  margin: auto;
}

.MywatchList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MywatchListBtn {
  border: 1px solid #333;
  height: 50px;
  width: auto;
  color: #000;
  padding: 0 50px;
  margin-bottom: 20px;
  background-color: #fff;
}

.DashboardRightDown .PastRecommend02 .recomdedTable {
  margin-bottom: 50px;
  margin-top: 30px;
  overflow-x: auto;
}

.MySubscriptionBtn {
  height: 40px;
  width: auto;
  border-radius: 50px;
  padding: 0 30px;
  border: none;
  margin-bottom: 0px;
  background-color: #33c53f;
  border-color: #4EAF8A;
  color: #fff;
}

.BTN_Red {
  background-color: #f00;
}

.UpdateEmail {
      width: 399px;
    background-image: linear-gradient(#fff,#f5f5fa);
    box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
    margin: auto;
        border: 1px solid #706b6b47;
    padding: 42px;
    border-radius: 15px;
    box-shadow: 2px 0px 3px 1px #ddd;
}

.UpdateEmail form h3 {
  font-size: 28px;
    text-align: center;
    font-weight: 700;
    margin: 0px 0 40px 0;
}

.UpdateEmail form label {
  width: 100%;
}

.UpdateEmail form label span {
  display: block;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}

.UpdateEmail form label input {
  width: 100%;
    border: 1px solid #adaaaa00;
    margin-bottom: 20px;
    height: 39px;
    padding: 0 20px;
    box-shadow: 0px 1px 3px 1px #ddd;
}




@media (max-width: 991px) {
  .sidebar {
    top: 140px;
    position: absolute;
    border-left: 5px solid #4EAF8A;
        z-index: 9999999;
  }

  .DashboardHeading {
    font-size: 14px;
  }

  .DasSubscBTN {
    font-size: 14px;
    height: 35px;
    margin: 0;
  }

  .DashboardRightHead {
    padding: 0;
  }

  .DashboardRightHead .navbar-toggler {
    position: initial !important;
  }

  .sidebar .sidebar-sticky h1.DashboardHeading,
  .DashboardRight {
    height: auto;
  }

  .UpdateEmail {
    width: 100%;
  }

  .MywatchListBtn {
    height: 20px;
    padding: 0 5px;
    margin: 0;
    font-size: 10px;
  }
}