/*tree Viw Css*/

/*tree Viw Css*/



.marginCsTop{
    margin-top: 36px; 
}
.imgLlgst{
max-width: 204px;
}













.cardSSCdss{
background: #fff;
padding: 13px;
border-radius: 3px;
border: 1px solid #ddd;
}

.asignCss{
margin-left: 10px;
}
.pandingCdd{
margin-left: 19px;
}
.convsCss{
margin-left: 12px;
}
.assICss{
margin-left: 15px;
}












.secTaCss{
  background: #ededed;
}
.veyeicons{
max-width: 20px;
}
.labeCsstop{
font-size: 13px;
background: #09AB8F;
color: #fff;
border-radius: 2px;
padding: 0px 15px 0px 5px;
margin-bottom: 11px;
margin-top: 8px;
text-transform: capitalize;
}
.bigscs{
width: 34px;
height: 30px;
}
.loreIcss{
    max-width: 100px;
}
.bglogoCss{
background: #0BAC8D;
color: #fff;
}
.tbaTcss{
    padding: 0px 18px !important;
}
.magTop{
margin-top: 63px
}
.labCss{
padding-bottom: 6px;
padding-top: 9px;
font-size: 13px;
color: #000;
font-weight: 600;
}
.deletebgs{
color: #0BAC8C;
}
.bgTrash{
color: unset;
}
.bgwarning{
color: #403d3ba3;
}
.editColor{
color: #0BAC8D;
}
.veye__logo{
    max-width: 138px;
}
.dashBorad__box{
background: #17a1b7;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
    text-align: center;
}
.BoxRemove{
padding: 10px !important;
}
.padiing__row{
padding: 0px 0px 0px 26px;
background: #f1f3f6;
}
.boDss{
font-weight: bolder;
}
.bg-bac7ff{
background: #bac7ff;
}
.bg-b6e2d3{
background: #b6e2d3;
}
.bg-7be1aa{
background: #7be1aa;
}
.bg-f69696{
background: #f69696;
}
.bg-d9d9d9{
background: #d9d9d9;
}
.fontBold{
color: #000;
font-size: 21px;
font-weight: 500;
}
.numClas{
color: #007bff;
font-size: 23px;
}
.bosy__tops{
margin-top: 10px;
}
.filter__Box{
border: 1px solid;
 
}
.bg-employee{
background: #28a745;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgAssigned{
background: #1638c9;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgNotAssigned{
background: #d51b1b;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgDuplicate{
background: #1ec91f;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgPending{
background: #38cd0a;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgOpportunities{
background: #343d94;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgConverted{
background: #20a9b8;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgDNC{
background: #a50404;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgWrongNumber{
background: #652c15;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgNotInterested{
background: #3b5198;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.bgVM{
background: #e72552;
padding: 13px 19px 12px 19px;
border-radius: 4px;
width: 80px;
text-align: center;
}
.floatRights{
float: right;
}