.contact-pageheader {
    margin-top: -50px;
    padding-top: 10px;
}


.contact-pageheader h1 {
    font-size: 42px;
    line-height: 42px;
}

.contact-pageheader h2 {
    font-size: 30px;
    line-height: 32px;
}

.contact-pageheader h3 {
    font-size: 24px;
    line-height: 30px;
}

.contact-pageheader h4 {
    font-size: 18px;
    line-height: 26px;
}

.contact-pageheader h5 {
    font-size: 16px;
    font-weight: 400;
}

.contact-pageheader h6 {
    font-size: 12px;
    font-weight: 400;
}

.contact-pageheader p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6;
}

.contact-pageheader p:last-child {
    margin: 0px;
}

.contact-pageheader ul,
.contact-pageheader ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-pageheader a {
    text-decoration: none;
    color: #272d2c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.contact-pageheader a:focus,
.contact-pageheader a:hover {
    text-decoration: none;
    color: #f8591b;
}

sub {
    bottom: 0em;
}

.lead {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'PT Serif', serif;
    color: #272d2c;
    margin-bottom: 40px;
}


input.form-control, textarea.form-control {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 5px 15px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #2af62a;
}
 textarea {
    height: 160px !important;
 }

input.form-control:focus {
  box-shadow: 0 0 5px rgb(57, 132, 57);
  padding: 5px 3px 5px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

 textarea.form-control:focus {
    box-shadow: 0 0 5px rgb(57, 132, 57);
    padding: 5px 3px 5px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
 }


.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}


input.form-control::-webkit-input-placeholder {
    color: #848080 !important;
}

input.form-control:focus::-webkit-input-placeholder {
    color: #848080 !important;
    bottom: 20px;
    position: relative;
    box-shadow: 2px 10px #fff;
    border: 5px solid #fff;
    opacity: 1;
}

input.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    color: #848080 !important;
}

input.form-control::-webkit-input-placeholder , textarea.form-control::-webkit-input-placeholder {
color: #848080;
}

input.form-control:-moz-placeholder , textarea.form-control:-moz-placeholder { /* Firefox 18- */
color: #848080;  
}

input.form-control::-moz-placeholder, textarea.form-control::-moz-placeholder {  /* Firefox 19+ */
color: #848080;  
}

input.form-control:-ms-input-placeholder , textarea.form-control:-ms-input-placeholder {
color: #848080;
}


.input-group-addon {
    background-color: transparent;
    border: 1px solid #398439;
    border-radius: 0px;
}

.focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #b12427;
    background-color: #fff;
}

.focus:focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #b12427;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control {
    border-color: #3c763d;
    background-color: #fff;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #3c763d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control {
    border-color: #a94442;
    background-color: #fff;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #398439;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon:last-child {
    border-left: 0;
    border-right: transparent;
    border-top: transparent;
}

.input-group-addon i {
    color: #398439;
}

option {
    color: #6b6c6d;
}

hr {
    border-top: 1px solid #e4e9e8;
    margin-bottom: 40px;
    margin-top: 40px;
}
.mb60{margin-bottom:60px;}
.btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 11px 30px;
    border-radius: 6px;
    line-height: 1.8;
    letter-spacing: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    word-wrap: break-word;
    white-space: normal !important;
}

.btn-primary {
    background-color: #2D8046;
    color: #fff;
    border: 1px solid #2D8046;
}

.btn-primary:hover {
    background-color: #b12427;
    color: #fff;
    border: 1px solid #b12427;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #b12427;
    color: #fff;
    border: 1px solid #b12427;
}
.pdt20 {
    padding-top: 20px;
}

.contact-pageheader {
    position: relative;
    background-color: rgb(241, 242, 243);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91eee2', endColorstr='#39c4b6', GradientType=1);
    margin-bottom: 70px;
}

.contact-caption {
    position: relative;
    top: 180px;
}

.contact-title {
    font-family: 'PT Serif', serif;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 40px;
    line-height:80px;
}

.contact-caption-text {
    font-size: 23px;
    color: #272d2c;
}

#contact-map {
    height: 450px;
    width: 100%;
    position: relative;
}

.contact-form {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 100px;
    -webkit-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
}

.contact-section {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e9e8;
}

.contact-section .contact-icon {
    float: left;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 25px;
    color: #398439;
    padding-right: 20px;
    position: initial;
}

.contact-section .contact-info {
    padding-top: 10px;
    font-weight: 700;
}

.contact-social {}

.contact-social ul {}

.contact-social ul li {
    float: left;
}

.contact-social ul li a {
    font-size: 16px;
    padding-right: 10px;
    color: #6b6c6d;
}

.contact-social ul li a:hover {
    color: #0084bf;
}

.location-block {
    border-radius: 2px;
    border: 1px solid #eaeaea;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #fff;
}

.location-content {}

.location-block ul {}

.location-block ul li {
    line-height: 2.2;
    font-size: 15px;
}

.location-icon {
    color: #0084bf;
    padding-right: 10px;
    font-size: 15px;
}

@media (max-width: 767px){
    .contact-form {
        margin: 0px 6px 0 0;
    }
    .contact-caption {
        top: 0px;
        text-align: center;
    }
}