@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');


/* ScrollBar Starts */
/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #e4e4e6;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #4CAF50; 
    border-radius: 05px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

/*ScrollBar Ends*/
.modal-header {
    display: inline-block;
    width: 100%;
    background: #092a0d;
}

.search-form {
  padding: 7px 5px 17px 0;
}

.modal-header .close {
    margin-top: 0px;
    color: #fff;
    opacity: 1;
}

.container-content {
  border: 1px solid;
  padding: 60px 0 60px 0;
}

.section_headextra {
  margin-top: 0;
}

select#header-select {
  margin: 45px 0 0 0;
  color: #fff;
  -webkit-border-radius: 5px;
  overflow: hidden;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*padding: 2px;*/
  background-color: #2D8046;
}

#main-slider {
  position: relative;
  transition: all .5s;
}


@media(max-width:767px) {
#main-slider {
  margin-top:50px;
}
}
#main-slider .carousel h2 {
  font-size: 72px;
  line-height:60px;
  color:#FFF;
  text-transform:uppercase;
  margin-top:20%;
  font-weight:700;
  padding-left:0;
}
#main-slider .carousel p {
  font-size: 24px;
  line-height:24px;
  color:#FFF;
  text-transform:uppercase;
  font-weight:400;
  padding-left:0;
}
#main-slider .carousel .btn {
  color: #fff;
  border-radius: 0;
  margin-top: 5px;
}
#main-slider .carousel .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#main-slider .carousel .boxed {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
}
#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
  outline: 0;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

@media(max-width:767px) {
  #main-slider .carousel h2 {
    font-size: 42px;
    line-height:36px;
    color:#FFF;
    text-transform:uppercase;
    margin-top:30%;
    font-weight:700;
    padding-left:0;
  }
}



/* Section Title */
.section-title h1{
  font-size:24px;
  text-transform:uppercase;
  font-weight:700;
  margin-bottom:30px;
}

.section-breadcrumbs {
  margin-top: -20px;
}

.featured-report-border {
  border: 1px solid #8f8b8b80;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 10px;
}
.featured-report-border-right {
 text-align: center;
}

.breadcrumb {
  margin-left: 100px;
}

/*  Material Box Shaddow Feature */
/*.featured-report-border-right .col-md-4:hover {
  padding: 15px;
  margin-bottom: 20px !important;
  text-align: center;
  box-shadow: 0 2px 2px rgba(249, 241, 241, 0.3), 0 2px 20px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}*/


@media(max-width:767px) {
 .featured-report-border {
    border: none;
    border-radius: 0;
    margin-bottom: 50px;
    padding: 10px;
  }
  .featured-report-border-right {
    border-right: none;
    margin-bottom: -10px;
    margin-top: -10px;
    padding: 50px 10px 0px 10px;
  }

  .featured-report-border-right .col-md-12 {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.featured-report-small h4 {
  font-size:15px;
  font-family: arial;
  font-weight: bold;
}

.featured-report-small p {
  font-size: 15px;
  margin-bottom: 10px; 
}
/*
.section-title h1:before{
  content: url(../img/title-before.png);
  display:block;
  float:left;
  width: 45px;
}
.section-title h1:after{
  content: url(../img/title-before.png);
  display:block;
  float:right;
  width: 45px;
}*/

@media(max-width:767px) {
  .section-title h1{
    font-size:20px;
    text-transform:uppercase;
    font-weight:700;
    margin: 0 0 10px 0;
  }
}
/* Section Title */


/* Portfolio Grid and Hover Effects */

.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: left;
}

.grid figure {
  margin: 0;
  position: relative;
  margin-top:20px;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #000;
  color: #ed4e6e;
}

.grid figcaption h3 {
  font-size:18px;
  text-transform:uppercase;
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 0;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}


.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.cs-style-3 figcaption {
  height: 80px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Caption Style 2 */
.cs-style-2 figure img {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
  -webkit-transform: translateY(-90px);
  -moz-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
}

.cs-style-2 figcaption {
  height: 90px;
  width: 100%;
  top: auto;
  bottom: 0;
}

.cs-style-2 figcaption a {
  position: absolute;
  right: 20px;
  top: 30px;
}

/*  Carousel 2  */
#myCarousel {
  margin-top: 30px;
  max-width: 95%
}

#myCarousel .nav a small
{
    display: block;
    height: 50px;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}

.carousel-description {
  background-color: #07070c;
  padding: 15px;
  text-align: center;
}
.carousel-description h4 {
  font-family: kepler-std-display,serif;
  line-height: 1.1;
  font-size: 1.35em;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 9px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .carousel-description {
    height: 150px;
    background-color: #07070c;
    padding: 15px;
    text-align: center;
  }
}

.carousel-description a {
  background-color: #007f3a;
  font-weight: 600;
  padding: 6px 30px 6px 30px;
  color: #fff;
  border-radius: 2px;
}

.carousel-description a:hover {
  color: #fff;
  background-color: #b12427;
}

.nav_myCarousel > li.active > a {
  color: black;
  background-color: lightgrey;
  width: 100%;
}
.nav_myCarousel > li > a {
  color: black;
  background-color: lightgrey;
  width: 100%;
}


.ftrtop-menu > div > li {
  color: black;
  list-style: none;
  margin: 3px 0;
}

.ftrtop-menu:hover {
  color: white;
}


.subscription-panel {
  background-color: yellow;
}


.subscribe-headline2 {
  top: 20px;
}

.headingDiv {
  background-color: #d7d4d4;
padding: 15px 0 15px 10px;
font-weight: bold;
font-size: 20px;
margin: 15px 0 10px 0px;
text-align: justify;
}

.paragraph1 {
  margin: 0 0 20px 0px;
  text-align: justify;
}

.paragraph2 {
  margin: 0 0 20px 0px;
  text-align: justify;
}

.paragraph3 {
  margin: 0 0 20px 0px;
  text-align: justify;
}

.paragraph1bottom {
  margin-bottom: 10px;
  text-align: justify;
}

.subHeading1 {
  margin-top: 20px;
  text-align: justify;
}

.singleparagraph {
  margin-bottom: 20px;
  text-align: justify;
}

/* Essential Study */
#our-mission h3 {
  border-bottom: 3px solid #000;
color: #000;
margin-bottom: 30px;
padding: 0 0 5px 0;
}

#our-analytics h3 {
  border-bottom: 3px solid #000;
color: #000;
margin-bottom: 30px;
padding: 0 0 5px 0;
}

#our-reports h3 {
  border-bottom: 3px solid #000;
color: #000;
margin-bottom: 30px;
padding: 0 0 5px 0;
}

/*.section .container {
  width: 1300px !important;
}*/

.success-message {
padding: 15px 0 15px 0;
color: #fff;
background-color: #6fae6f;
margin-bottom: 10px;
margin-top: 10px;
border: 3px solid #4f932c;
border-radius: 8px;
font-family: loto;
font-weight: bolder;
}

.failure-message {
padding: 15px 0 15px 0;
color: #fff;
background-color: #da5a5a;
margin-bottom: 10px;
margin-top: 10px;
border: 3px solid #8c433e;
border-radius: 8px;
font-family: loto;
font-weight: bolder;
}




.client-login form {
  padding: 10px;
  color: #000;
}


.client-login input[type=text],.client-login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
}


/*.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 8px 15px 8px;
    font-weight: bold;
    font-size: 17px;
}*/

.client-login button {
    background-color: #398439;
    color: #fff;
    padding: 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.client-login button:hover, .client-login button:focus {
  background-color: #b12427;
  color: #fff;
}

.modal-body {
    position: relative;
    padding: 0px 20px 20px 20px;
}


.model-content .modal-header button.close {
  padding: 5px 10px;
  background-color: #909090;
  border-radius: 37px;
  color: #000 !important;
}

.client-login .container {
    padding: 16px;
    width: 100%;
}

.client-login span.psw {
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .client-login span.psw {
       display: block;
       float: none;
    }
    .client-login .cancelbtn {
       width: 100%;
    }
}


.carousel-control img {
    margin-top: 200%;
}

.about-paragraph1 {
    font-size: 15px;
    font-family: Arial, 'Helvetica', sans-serif;
    letter-spacing: 0.05em;
    text-align: justify;
}

.about-paragraph2 {
    font-size: 15px;
    font-family: Arial, 'Helvetica', sans-serif;
    letter-spacing: 0.05em;
    text-align: justify;
}

.about-paragraph3 {
    font-size: 15px;
    font-family: Arial, 'Helvetica', sans-serif;
    letter-spacing: 0.05em;
    text-align: justify;
}

/*--------------------------------------------------------------------------
+ News Style
--------------------------------------------------------------------------*/
.reportsContainer .caption,
.latest-news .caption {
  padding: 10px 0 5px 0;
}
.reportsContainer .caption a,
.latest-news .caption a {
  font-size: 1.1em;
  font-weight: 600;
  color: #535b60;
}
.reportsContainer .intro,
.latest-news .intro {
  padding-bottom: 10px;
  font-size: 0.9em;
}
.reportsContainer .intro a,
.latest-news .intro a {
  white-space: nowrap;
}
.reportsContainer .date,
.latest-news .date {
  font-size: 1em;
  color: #999;
}
.reportsContainer img,
.latest-news img {
  max-width: 100%;
  margin: 10px 0 10px 0;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}

.reportsContainer h2 {
  margin: 0 0px 20px 0px;
}


/* Footer */

.footersection-title h1{
  font-size:30px;
  text-transform:uppercase;
  font-weight:bold;
  margin-bottom:20px;
  color: #398439;
}

.col-footer > ul > li {
  list-style: none;
  margin: 8px 0;
}

.col-footer i {
  color: #34ad53;
}

.col-footer {
  margin-top: 1%;
  margin-bottom: 1%;
}
.col-footer > ul > li >a {
  color: #34ad53;
  padding: 2px 0 15px 0;
  font-size: 0.85em;
  font-weight: bold;
}

.footer-small {
  padding: 2px 0 15px 0;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, 'Helvetica', sans-serif;
}

.footer-small a {
  color: #34ad53;
  font-size: 12px;
  letter-spacing: 0.11em;
}

.footer-small a:hover {
  color: #75ef94;
}

.col-footer a:hover {
  color: #75ef94 !important;
}

.mailto:hover,.tel:hover {
  color: #75ef94 !important;
}

.tel, .mailto {
  color: #34ad53;
}

.input-group input[type="text"],.input-group input[type="number"], .input-group input[type="email"] {
  height: 35px;
  color: black;
}
.input-group input[type="email"]:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.input-group input[type=number]::-webkit-inner-spin-button, 
.input-group input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.input-group textarea.freeReport {
  padding: 5px 0 0 0;
  height: 110px;
}

.input-group {
  padding: 5px 0 0 0;
}

.formButton {
padding: 13px 0 13px 0;
width: 100%;
margin-top: 30px;
margin-bottom:  10px;
background-color: #007f3a;
color: #fff;
font-weight: bold;
border: 1px solid #158737;
}

.formButton:hover {
  background-color: #0a6822;
  color: #fff;
}
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}


.dateOnReport {
float: left;
height: 100px;
width: 100px;
background-image: url(../img/date.png);
margin-right: 20px;
}


.daterpt {
  color: black;
  padding: 19px;
  margin: 25px -12px 0 -14px;
  font-size: 20px;
  text-align: center;
}



.reportsContainer
{
    text-align: justify;
    text-rendering: optimizeLegibility;
    color: #000;
    font-size: 16.5px;
    line-height: 1.7 !important;
    letter-spacing: 0.03em !important;
    padding: 30px 20px;
    border-radius: 5px;
    background-color: #fff;
    font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
}

.report-title {
  font-size: 20px;
  font-weight: bold;
  font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
  letter-spacing: 0.05em;
  color: #514c4c;
  margin-top: 10px;
  margin-left: 100px;
  text-align: left;
  padding: 20px;
}

/*Dashboard CSS*/


.dashboard-header div.navbar-header {
  margin-left: 13%;
  padding: 0 15px;
}

.navbar-login{width: 305px;}

.dashboard-header .navbar-header .nav-collapse ul li:hover {
  background-color: #e7e7e7;
}

.icon-size
{
    font-size: 65px;
}

.dropdown-menu .login-button a {
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
}

.tab-pane .row {
 background-color: #fff;
 padding: 10px;
}

.login-dashboard .dropdown-menu li a{
  padding: 5px !important;
  background-color: #398439;
  border: 1px solid #398439;
}
.login-dashboard .dropdown-menu li a:hover {
  background-color: #b12427;
  border: 1px solid transparent;
}

.login-dashboard .dropdown-menu li.divider {
  padding: 0 !important;
}

#myList {
  padding: 50px 0 0 10px;
}

.updateDetails .heavyTitle {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
.updateDetails input,.updateDetails select {
    /* width: 100%; */
    /* color: #fff; */
    /* font-size: 15px; */
    /* font-weight: bold; */
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* display: inline-block; */
    /* border-left: 1px solid #fff; */
    /* border-right: 1px solid #fff; */
    /* border-top: 1px solid #fff; */
    /* border-bottom: 1px solid #fff; */
    /* background-color: #757575; */
    display: block;
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(206, 212, 218);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 17px;
}

#client_email_submit, #client_password_submit {
  background-color: #007f3a;
  color: #fff;
  padding: 5px 20px 5px 20px;
}

.updateDetails input:focus,.updateDetails select:focus {
    border: 1px solid #fff;
    opacity: 2;
}

.updateDetails input[type=submit]:hover {
    background-color: #45a049;
}

.updateDetails div {
    border-radius: 5px;
    /* background-color: #fff; */
    padding: 20px;
    margin-bottom: 19px;
    /* margin-top: 38px; */
}
#dashboard-row {
  background-color: white; 
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#nav-tab-content{
  padding: 20px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border-color: #428bca;
    background-color: white;
}

#list-home .row h2, #list-profile .row h2,#list-messages .row h2,#list-settings .row h2 {
  padding: 0 20px;
  margin: 5px 0 7px 15px;
  font-size: 20px;
}

#list-home .row , #list-profile .row ,#list-messages .row ,#list-settings .row  {
  border: 0.5px solid black;
}


#member-article .card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
#member-article .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
#member-article .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#member-article .card h4{
    margin:20px;
}
#member-article .card p{
    margin:20px;
    opacity: 0.65;
    color: #000;
    margin-bottom: 30px;
}
#member-article .blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #398439;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
#member-article .blue-button:hover{
    background-color: #b12427;
    color: #fff;
}
/* Dashboard CSS Ends */




/* Table */

/* Table Layout */

table.heavyTable {
    margin: 20px 0 0 0;
    border-collapse: collapse;
    border-spacing: 0;
    background: #212121;
    color: #fff;
    width:100%;
}

table.heavyTable th, table.heavyTable td {
    text-align: center;
}

table.heavyTable thead {
    line-height: 12px;
    background: rgb(0, 149, 128);
    text-transform: uppercase;
}

table.heavyTable thead th {
    color: #fff;
    padding: 20px 4px 15px 4px;
    letter-spacing: 1px;
    vertical-align: bottom;
}

table.heavyTable thead th:nth-child(1) {
    width: 20%;
    text-align: left;
    padding-left: 20px;
}

table.heavyTable thead th:nth-child(2) {
    /* width: 30%; */
}

table.heavyTable thead th:nth-child(3) {
    /* width: 35%; */
}

table.heavyTable thead th:nth-child(4) {
    width: 15%;
}

table.heavyTable tbody {
    font-size: 1em;
    line-height: 15px;
}

table.heavyTable tbody tr {
    border-top: 2px solid rgb(21, 172, 151);
    transition: background 0.6s, color 0.6s;
}

table.heavyTable tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

table.heavyTable tbody tr:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    font-weight: 900;
}

table.heavyTable tbody td {
    padding: 12px;
}

table.heavyTable tbody tr:hover td:first-child {
    background: rgba(0,0,0,0);
}

table.heavyTable tbody td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: 700;
    background: rgba(109, 176, 231, 0.35);
    transition: backgrounf 0.6s;
}

table.heavyTable tfoot {
    font-size: 0.8em;
}

table.heavyTable tfoot tr {
    border-top: 2px solid #2e63e7;
}

table.heavyTable tfoot td {
    color: rgba(255,255,215,0.6);
    text-align: left;
    line-height: 15px;
    padding: 15px 20px;
}




/* Floating Button */
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}

.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}



/* Breadcrums */



.breadcrumb-arrow {
    height: 37px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e8ece8;
    margin: 10px 0 10px 0;
    border: 0.5px solid #e8ece8;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #2D8046;
    border: 1px solid #2D8046;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #2D8046;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #2D8046 !important;
    border: 1px solid #2D8046 !important;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: darkgreen !important;
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #2D8046;
    font-size: 1.5em;
    font-weight: bold;
}

/*Companies Div */
.companies-div {
  background-color: #ececec;
  padding: 25px 25px 5px 25px;
}


.companies-div .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f055";
    padding-right: 5px;
}
.companies-div .panel-title > a.collapsed:before {
    float: right !important;
    content:"\f056";
}
.companies-div .panel-title > a:hover, 
.companies-div .panel-title > a:active, 
.companies-div .panel-title > a:focus  {
    text-decoration:none;
}


/* Add Landing CSS */
  
  .add-landing-title {
    background: url(../img/slides/3.jpg);
    margin: -50px 0 40px 0;
    color: #fff;
    padding-bottom: 10px;
  }
  .add-content h2 {
    color: #5e7bd4;
  }

  .add-content {
    font-family: "Hind", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
  }
  .add-header-color {
    background-color: #6d8eef99;
    margin-bottom: -10px;
  }

  .add-landing-title h1 {
    color: #fff;
    padding-bottom: 5px;
  }
  .add-landing-title h4 {
    color: #fff;
    padding-bottom: 15px;
  }

  article h3 {
    margin: 30px 0 -5px 0;
  }

/*Add Landing CSS Ends Here*/

/* Add REDIRECT CSS */
.addredirect-header {
  padding: 3px;
  background-color: #86B1FA;
  margin: -20px 0 0 0;
}

.container-heading {
  text-align: center;
}

.container-heading h2 {
  color: #6380E6;
  margin-bottom: 45px;
}

.addredirect-free-report-heading h3 {
  color: #fff;
  background-color: #758EE3;
  padding: 5px !important;
  text-align: center;
  border-radius: 5px;
  margin: 30px 0;
}

#addredirect-content article {
  font-family: "Hind", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  text-align: justify;
  color: #383c38;
  line-height: 1.4;
}

#add-report-button-div {
  text-align: center;
}
#add-report-button-div a .button-container
{
  padding: 10px 0;
  width: auto;
  background-color: green;
  color: #fff;
  font-weight: bold;
}

#add-report-button-div a .button-container:hover {
  background-color: #41ae43;
}

#add-veye-address {
  text-align: center;
}

#add-veye-address h3 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.adddisclaimer-divider {
  margin: 20px 0;
  padding: 2px;
  background-color: #000;
}

.add-disclaimer {
  padding: 0 6%;
  text-align: justify;
}


/* Featured Reports  */

#FeaturedReport a.animated {
  position: relative;
  display: block;
  margin: 0 2px;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  overflow: hidden;
}
#FeaturedReport a.animated:before {
  box-sizing: border-box;
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}
#FeaturedReport a.animated:after {
  box-sizing: border-box;
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}
#FeaturedReport a.animated:hover {
  color: inherit;
  text-decoration: none;
}
#FeaturedReport a.animated:hover:before {
  transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  height: 100%;
  border-color: #1fbfac;
}
#FeaturedReport a.animated:hover:after {
  transition: .1s transform linear .2s, .1s height linear .3s;
  transform: translateX(0);
  height: 100%;
  border-color: #1fbfac;
}


#free-report-button-section {
  background: #000 url('https://veye.com.au/assets/img/slides/3.jpg') right bottom no-repeat;
  padding: 30px 0 20px 0;
  margin-bottom: 28px;
}

#registor-button-index {
  font-size: 1.8em;
  padding: 15px 20px;
  border-radius: 5px;
}

.index-special-report-container {
  margin: 20px 0;
  padding: 0 !important;
  background-color: #EFEAEA80 !important;
}

.index-special-report-container:hover {
  background-color: #CFCFCF80 !important;
}

.index-special-report-container img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}


h4.index-report {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  padding: 0px 0px;
  height: 40px;
}

h4.index-report:hover {
  color: #007F3A;
}

.article{
  margin-bottom: -20px;
}

#style-ul-landing-page {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 3px;
  color: #000;
  font-size: 1.1em;
}

#article-index img {
  height: 220px;
  width: 100%;
}
#back-to-top{
    display: none;
}

#g-recaptcha {
    transform: scale(1.13);
    -webkit-transform: scale(1.13);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }

.subscription-plan {
  width: 31%;padding: 0 0 20px 0; border: 5px solid #f6f8f6; background-color: #e4e3e3;
}

.subscription-plan-special {
  width: 31%;padding: 0 0 20px 0; border: 5px solid #f6f8f6; background-color: #9fce6c;
}

@media (max-width: 768px) {
  #article-index img {
    max-height: 220px !important;
  }
  .subscription-plan-special {
    width: 100% !important;
  }

  .subscription-plan {
    width: 100% !important;
  }
  #article-index h3 {
    height: 125px !important;
  }
  #index-special-report {
    padding-right: 15px;
    padding-left: 15px;
  }

  .index-content #article-index {
    padding-right: 15px;
    padding-left: 15px;
  }
  #back-to-top{
    display: block;
  }
  #g-recaptcha {
    transform: scale(0.90);
    -webkit-transform: scale(0.90);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}