@media(max-width: 768px){
        .mobile-logo img {
            width: 100%;
            margin: -13px -20px 0 0px !important;
        }   
        .col-md-10, .col-sm-12 {
            padding-right: 0px !important;
            padding-left:  0px !important;
        }

        .display-table-cell {
            padding-left:0 !important;
        }

        .row {
            margin-right: 0px;
        }

        .navi li a {
            margin-left: -15px;
        }
    }

    @media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    .heavyTable td {
        padding: 5px 0 15px 150px;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .heavyTable thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .heavyTable tr { border: 1px solid #ccc; }
    
    .heavyTable td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    .heavyTable td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    .subscribe td:nth-of-type(1):before { content: "Product Name"; }
    .subscribe td:nth-of-type(2):before { content: "Sub. Start Date"; }
    .subscribe td:nth-of-type(3):before { content: "Sub. End Date"; }
    .subscribe td:nth-of-type(4):before { content: "Invoice Number"; }
    .subscribe td:nth-of-type(5):before { content: "Amount"; }

    .invoice td:nth-of-type(1):before { content: "Invoice Number"; }
    .invoice td:nth-of-type(2):before { content: "Invoice Date"; }
    .invoice td:nth-of-type(3):before { content: "Amount"; }
}