/*for the demo*/
header {
 /* height: 85px; */
 background-color: #f1f2f3;
}
header span {
    margin: 10% 0 0 10%;
    font-size: 15px;
    font-weight: bold;
}
.content {
 height: 800px;   
}

/* created with Sass*/
.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0;
  border-left: none;
  border-right: none; }

#BB-nav.affix {
  position: fixed;
  top: 0px;
  -webkit-transition: top 1s ease-in;
  transition: top 1s ease-out; }

#BB-nav {
  padding: 10px 0;
  width: 100%;
  background-color: #e9ecea;
  z-index: 999;
  top: -30px; 
}

.collapse {
  padding-left: 0px;
}


ul.mobile-logo {
    list-style: none;
    display: none;"
}

.nav-pills #menu-menu .menu-item:hover {background-color: #b12427;}

#BB-nav .dropdown-menu {border: none;}

.BB-nav li a img {
  width: 145px;
  height: 80px;
  margin: -28px 0 0 0;
}

/*.BB-nav li a:hover , .BB-nav li a img {
    width: 100%;
}*/

.BB-nav li a {
  /* background-color: transparent; */
  /* font-size: 1.00em; */
  /* font-weight: bold; */
  /* padding: 15px 8px; */
  /*padding-right: 20px;
  padding-left: 20px;*/
  /* display: inline-block; */
  /* width: 100%; */
  /* text-align: center; */
  /* text-transform: uppercase; */
  /* color: #000 !important; */
  /* font-family: 'Source Sans Pro', Arial, sans-serif; */
  /* transition: .5s all; */
  /* -webkit-transition: .5s all; */
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  }


.nav-pills #menu-menu li a:hover {
    background-color: transparent;
    color: #fff !important; }

/*reset */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #b12427 !important; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu a {
  background-color: transparent; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; }

/* search Form ****/
.navbar-nav > li > form {
  padding-top: 10px;
  /*padding-bottom: 10px;*/
  padding-bottom: 5px;
  line-height: 20px; }

@media (min-width: 768px) {
  .navbar-nav > li > form {
    padding-top: 14px;
    padding-bottom: 14px; } }

#search-nav input, #search-nav button[type="reset"] {
  display: none; }

#search-nav input, #search-nav button {
  border-radius: 0px;
  border-width: 0px;
  color: #000;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none; }

#search-nav .search-submit {
  position: relative;
  bottom: 2px;
}

ul.social {
  overflow: auto;
  float: right;
  margin-right: 5%;
}

ul.social li {
  list-style-type: none;
  float: left;
}

ul.social li a i {
  background: transparent;
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}

ul.social li a i.fa-linkedin:hover{
  background-color: #007bb6;
  color: #fff;
}

ul.social li a i.fa-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

ul.social li a i.fa-twitter:hover {
  background-color: #00aced;
  color: #fff;
}


/*login Button*/
.header-top-buttons {
  margin: 0 -30px 0 0;
  float: right;
}

#logInButton {
 top: 0px;
 right: 0px; 
 border: none;
 border-radius: 0px 0px 10px 0px;
 color: white;
 font-family: Tahoma, Geneva, sans-serif;
 padding: 10px 18px;
 font-size: 13px;
 cursor: pointer;
 background-color: #398439;
 z-index: 999;
 /*float: right;
 margin-right: -30px;*/
}
#logInButton:hover {
 background-color: #b12427;
 }

#logOutButton {
 top: 0px;
 right: 0px; 
 border: none;
 border-radius: 0px 0px 10px 0px;
 color: white;
 font-family: Tahoma, Geneva, sans-serif;
 padding: 10px 18px;
 font-size: 13px;
 cursor: pointer;
 background-color: #398439;
 z-index: 999;
 /*float: right;
 margin-right: -30px;*/
}
#logOutButton:hover {
 background-color: #b12427;
 }

 #memberButton {
 top: 0px;
 /*right: 22%; */
 border: none;
 border-radius: 10px 0px 0px 0px;
 color: white;
 font-family: Tahoma, Geneva, sans-serif;
 padding: 10px 18px;
 font-size: 13px;
 cursor: pointer;
 background-color: #398439;
 z-index: 999;
 /*float: right;*/
 }

 #memberButton:hover {
 background-color: #b12427;
 }

 #user-firstname {
  float: right;
  margin: 20px 10px;
 }

 .dropdown-menu .menu-item {
  padding: 1px 20px;
}

.dropdown-menu {
  background-color: #f1f2f3;
}

@media(max-width:768px) {
  .carouselBox {margin: -30px 0 0 0 !important;}
  .featured-report-border-right {margin-top: -50px !important;}
  #featured-report .section-title {margin: 30px 0px -25px 0 !important;}
  .index-content {margin: 35px 0 0 0;}
  .article .container .row .section-title {margin: -10px 0 -25px 0 !important;}
  #about .section-title {margin: 15px 0px !important;}
  #featured-report {margin-top: 15px;}
  ul.social {
    padding-top: 5px;
    float: left;
  }
  #logOutButton {
    float: right;
    margin: -40px 0 0 1px;
  }
  #memberButton {
    /*right: 5px 0 0 -165px;*/
  }
  .header-top-buttons {
    margin: 12px 20px 0 -30px !important;
  }
  #user-firstname {
    display: none !important;
  }

  #menu-menu .menu-item img {
      width: 50%;
      height: auto;
      margin: -15px 80px 0 -40px;
  }
  #mainSlider .section {
    margin-bottom: -15px;
    margin-top: -30px;
  }
  .navbar-brand {width: 140px;}
  .navbar-toggle {margin: 10px -10px 0 0;}
  .BB-nav li a {padding: 10px !important;}
  .collapse {padding-left: 15px !important;}
  ul.social {display: none;}
  .menu-item .navbar-brand img {display: none;}  

  ul.mobile-logo {display: inline-block;}
  #logInButton {
    margin-right: 0 !important;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  #memberButton {
    margin-right: 1% !important;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  #logOutButton {
    margin-top: -30px;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  .mobile-logo img {width: 100%;margin: -13px 0 0 -40px;}
  /*.mobile-logo {margin-top: -15px}*/
  #quick-links-footer {display: none;}
  #footer-about {display: none;}
  .footer-copyright {text-align: center !important;}
  #free-report-button-section {text-align: center;}
  #reach-us{display: none;}
  .col-footer {text-align: center;}
}