.get-in-touch {
position: relative;
margin: 0 auto;
padding: 30px;
max-width: 370px;
border-radius: 2px;
background: rgb(255, 255, 255) url("../img/subscribe-login-top.png") repeat-x;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.get-in-touch input[type=text],.get-in-touch input[type=email], .get-in-touch textarea {
background: rgb(235, 241, 245);
color: rgb(36, 39, 41);
}
.get-in-touch  input:focus, .get-in-touch  textarea:focus {
outline: 0;
background: #FFF;
}


.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    background-color: #ebf1f5;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.backgroundimage {
	background-image: url("../img/background-subscribe-1.jpg");
	background-repeat: no-repeat;
    background-size: auto;
}

.second-in-mobile p {
	font-family: Helvetica, sans-serif;
	font-size:1.3em;
	margin-top: 0px;
	color: #fff;
	text-align: justify;
	margin-left: 0px;
	padding: 50px 20px;
	background-color: #232324e6;
  border: 2px solid #fff;
}

.veye-desc-tabs {
	/*display: none;*/
	margin-top: 10%;
	font-family: Helvetica, sans-serif;
	font-size:1.2vw;
}

.navbar {
	padding: 30px 0;
}
.veye-detail-box {
  margin-top: 5%;
}
.subscribe-page-heading{
	padding: 90px 0 0 0;
	}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: absolute !important;
}
.navbar-inverse {
	background-color: #e9ecea;
}
.subscribe-page-heading h3 {
	text-align: center;
	padding: 30px 20px;
	background-color: #222;
	color: #fff;
	font-size: 2.5em;
}
.subscribe-page-heading h4 {
  text-align: center;
  padding: 20px 10px;
  background-color: #05050580;
  color: #fff;
  margin-bottom: 5%;
  margin-top: -10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.box:hover .fa-4x {
  font-size: 6em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


.section {
  position: relative;
  width: 95%;
  max-width: 100%;
  border: 2px solid #fff;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.section h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
  color: #fff;
}

.top-border{
  position: absolute;
  height: 2px;
  width: 33%;
  background-color: #fff;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.section p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 30px;
  color: #fff;
}


  .contact-description {
    font-size: 1.4em;
  }

/* Nb Footer Panels  */
footer.nb-footer {
background: #222;
border-top: 4px solid #57a544; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 50px;
margin-bottom: 35px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #57a544;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: #57a544;
color: #fff;
border-color: #57a544; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #57a544;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color: #57a544; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #e9ecea;
padding: 20px 0;
color: #464444;
font-size: 0.9em; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }

/* End Nb Footer Panels  */

@media (max-width: 768px) {
  .subscribe-page-heading h4 {
    margin-bottom: 0% !important;
  }
  .second-in-mobile {
    position: absolute;
    margin-top: 220%;
  }
  .second-in-mobile p {
    text-align: justify;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin-top: -30px;
  }
  .veye-desc-tabs {
    margin-top: 280%;
    font-size: 4.3vw;
  }
  
  .second-in-mobile p {
    margin-left: 0px;
  }
  .mobile-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }

  .veye-detail-box {
    margin-top: 250%;
  }

  .top-border { 
    display: none;
    width: 18%;
  }

  .section {
  border-top: 2px solid #fff;
  }

  .section h1 {
    margin: 20px 6px;
  }

  .contact-description {
    font-size: 1.1em;
  }

  .get-in-touch {
    margin: 10px auto;
  }
}

@media only screen and (max-width: 768px) and (orientation : landscape) {
  /* PORTRAIT:
  Windows Surface Pro*/
  .second-in-mobile {
    position: absolute;
    margin-top: 100%;
  }
  .veye-detail-box {
    margin-top: 70%;
  }
}