@media (min-height: 768px) and (max-height: 1024px) and (max-width: 768px) {
	.index-content #article-index {
	    padding-right: 60px;
	    padding-left: 60px;
	}

	  #article-index img {
		max-height: 320px;
	}

	#article-index h3 {
		height: 100px;
	}

	#index-special-report {
	    padding-right: 80px;
	    padding-left: 80px;
	}

	.index-special-report-container img {
		height: auto;
	}
	
	#memberButton {
	    right: -60px;
	}
	
	#logInButton {
		margin-right: 0%;
	}
	
	#user-firstname {
		display: none !important;
	}
	#g-recaptcha {
	    transform: scale(1.16);
	    -webkit-transform: scale(1.16);
	    transform-origin: 0 0;
	    -webkit-transform-origin: 0 0;
	  }

}