/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { /*font: 14px/1.4 Georgia, serif;*/
        font-family: arial;}
#page-wrap { width: 800px; margin: 0 auto;padding: 1%;}
.bill-to th {
    background: #616161;
    color: #fff;
    border: 0px;
}
tr.no-boder td {
    border: none;
}
@media print{
         td.price2{
    background: grey !important;
  
}}

td.price {
    width: 20%;
}
#hiderow,
.delete {
  display: none;
}
.bill-to tr td {
    border: 0px solid;
}
textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }
#header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 20px; font-weight: bold; float: left; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td {
    text-align: left;
}


#meta td.meta-head {
    text-align: left;
    background: none; 
    border: 0px solid;
}
.form-below th {
    background: #676363;
    color: #fff;
}
.form-below3 table {
    opacity: 0;
}
.text span {
    color: #544e4e;
    font-weight: 600;
    font-size: 16px;
}
.form-below table {
    margin-top: 65px;
    border: 1px solid;
    width: 100%;
}
.form-below2 {
    width: 32%;
    float: left;
}
.form-below2 table {
    float: right;
    margin-bottom: 15px;
    width: 100%;
}
.text h6 {
    font-size: 15px;
    color: #2d2a2a;
}
#items th {
    background: #625b5a;
    color: #fff;
    text-align: left;
}
@media print{ 
.price2 {
    background: grey;
}}
td.price2 {
    background: grey;
    border-top: 1px solid !important;
    border-bottom: 1px solid !important;
    font-weight: 600;
}
.text {
    text-align: center;
}
.text p {
    margin: 17px;
}
td.right {
    text-align: right;
}
.bill-to h6 {
    font-size: 16px;
    background: #635b5b;
    color: #fff;
    padding: 4px;
    display: inline-block;
    min-width: 300px;
}
.footer {
    width: 100%;
}
.bill-width {
    width: 40%;
}
.bill-to table {
    width: 100%;
}
.logo {
    height: 118px;
}
.all {
    min-height: 405px;
}
.footer {
    border-top: 5px solid #ccab7b;
    width: 100%;
}
.foot2 {
    width: 36%;
    margin: 1%;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
}
.foot3 {
    width: 35%;
    margin: 1%;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
}
.foot4 {
    width: 23%;
    margin: 1%;
    float: left;
}
.foot1 {
    width: 23%;
    margin: 1%;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
}
.text1 {
    text-align: center;
    margin-top: 99px;
    margin-left: -35% !important;
}
.form-below3 {
    width: 28%;
     float: left;
}
.form-below {
    width: 40%;
    float:left;
}
.form-below2 td {
    border: 0px;
}
.form-below table td {
    border: 0px;
}
#items {
       clear: both;
    width: 100%;
    height: auto;
    margin: 0px 0 0 0;
    border: 1px solid black;
}

#items td {
    border-right: 1px solid #000 !important;
}
td.weight.right {
    text-align: right;
}
td.price.right {
    text-align: right;
}
td.taxable {
    width: 8%;
}
td.amount {
    width: 16%;
    text-align: right;
}
td.per-gram{
	width: 10%;
}
td.weight {
    width: 8%;
}
td.gram{
	width: 8%;
}
#meta td textarea {
    width: 100%;
    height: 20px;
    text-align: left;
}
#items th {
    background: #676363;
}
#items textarea {
    width: 100%;
    height: 30px;
}
#items tr.item-row td {
    border: 0;
    vertical-align: middle;
}
#items td.description {
    width: 40%;
}
td.price {
    width: 10%;
}
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }